page-item-calendar-user {
  .title-text {
    text-align: center;
    font-size: 2em;
  }

  .calendar-title {
    text-align: center;
    font-size: 1.5em;
  }

  .month {
    margin-left: 3em;
    margin-right: 3em;
  }

  .item {
    width: 90%;
  }

  .item-image {
    font-size: 3em;
  }

  .item-borrow {
    vertical-align: top;
    font-size: 1.5em;
    margin-left: 1em;
    position: relative;
    bottom: 1em;
  }

  .item-info {
    vertical-align: top;
    font-size: 1.3em;
    margin-left: 1em;
    border: 0.2em solid dimgrey;
    position: relative;
    bottom: 1.8em;
  }

  .item-name {
    position: relative;
    bottom: 0.8em;
    left: 0.8em;
  }
}
