page-item-calendar-user {
  .title-text{
    text-align:center;
    font-size:2em;
  }
  .calendar-title{
    text-align:center;
    font-size:1.5em;
  }
  .month{
    margin-left:3em;
    margin-right:3em;
  }
  .item {
    width: 90%;
  }

  .item-borrow{
    font-size:1.5em;
  }

  .item-info{
    font-size:1.5em;
  }
}
