page-item-calendar-user {
  .title-text {
    margin-top: 0.4em;
    text-align: center;
    font-size: 2em;
  }

  .calendar-title {
    text-align: center;
    font-size: 1.5em;
  }

  .month {
    margin-left: 3em;
    margin-right: 3em;
  }

  .item {
    width: 90%;
    margin-top:0.8em;
    
  }

  .item-image {
    width: 3.3em;
    height: 3.3em;
    position: relative;
  }

  .item-borrow {
    vertical-align: top;
    font-size: 1.5em;
    margin-left: 1em;
    margin-top:3.5em;
    position: relative;
    bottom: 0.3em;
  }


  .item-info {
    vertical-align: top;
    font-size: 1.3em;
    margin-left: 1em;
    height: 3.7em;
    border: 0.2em solid dimgrey;
    position: relative;
    bottom: 1.1em;
  }

  .item-name {
    position: relative;
    bottom: 1em;
    left: 0.8em;
  }

  .unable-date{
    top:24.5em;
    left:2em;
    text-align:center;
    color:red;
    position:absolute;
  }

 
 .monthview-selected {
    background-color: transparent !important;
    color: black !important;
  }

  td.monthview-current {
    color: white;

    .calendar-day {
      background-color: color($colors, 'light') !important;
    }
  }

  .monthview-datetable {
    border: 0 !important;

    td, th {
      border: 0 !important;
      padding: 3px!important;
      background-color: transparent!important;
    }
  }

 .calendar-day {
    border-radius: 6px;
    padding: 3px 5px;

    &.canBorrow {
      background-color: blue;
      color: white;
    }

    &.cantBorrow {
      background-color: red;
      color: white;
    }

  }
.monthview-eventdetail-timecolumn{
  display:none;
}

.monthview-eventdetail{
  display:none;
}


.info-position{
  position:absolute;
  top:29em;
  left:2em;

}

.foo-red {
  float: left;
  width: 17px;
  height: 17px;
  margin: 5px;
  border: 1px solid black;
  background: red;
  margin-left:-1.6em;
}

.foo-blue {
  float: left;
  width: 17px;
  height: 17px;
  margin: 5px;
  border: 1px solid black;
  background: blue;
  margin-top:1em;
  margin-left:-1.6em;
}



.res-loan-info{
margin-top:0.3em;
}

.borrow-info{
margin-top:1em;
}

.event-detail-container{
  display:none;
}
.opening-info{
  margin-top:2em;
  text-align: center;
  font-size:1.3em;
  color:gray;
}
}
