<ion-header>

  <ion-navbar color="navbar">
    <div>
      <img src="./assets/icons/logo.svg" (click)="navCtrl.popToRoot()" [ngClass]="db.isAndroid() ? 'android-logo' : 'ios-logo'">
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="menu.openDropdownMenu($event)">
        <img class="facebook-image" [src]="db.currentUserPhotoURI"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p class=title>
    <b>Add a photo of the item</b>
  </p>

  <div class="button-container">
    <button class="black-button" (click)="getPicture(true)">
      <img src="./assets/icons/camera.svg" class="button-icon-svg">
      <div class="button-with-icon-svg-text">
        <b>Take a photo</b>
      </div>
    </button>

    <button class="black-button" (click)="getPicture(false)">
      <img src="./assets/icons/image.svg" class="button-icon-svg">
      <div class="button-with-icon-svg-text">
        <b>Add from gallery</b>
      </div>
    </button>
  </div>

  <div class="bar">
    <div class="progress"></div>
  </div>

  <p class="progress-text">
    66%
  </p>

  <div class="image-container">
    <img *ngIf="!scaledPhotoURI" src="./assets/icons/image.svg" class="button-icon2">
    <img *ngIf="scaledPhotoURI" [src]="scaledPhotoURI" class="item-image"/>
  </div>
  <div class="item-name-container">
    <div class="item-name">
      {{itemName}}
    </div>
  </div>


</ion-content>
