<ion-header>

  <ion-navbar>
    <ion-title>itemsAddPhotoAdmin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p class=title>
    <b>Add a photo of the item</b>
  </p>

  <div class="button-container">
    <button class="blue-button" (click)="getPicture(true)">
      <ion-icon name="camera" class="button-icon"></ion-icon>
      <div class="button-with-icon-text">
        <b>Take a photo</b>
      </div>
    </button>

    <button class="blue-button" (click)="getPicture(false)">
      <ion-icon name="image" class="button-icon"></ion-icon>
      <div class="button-with-icon-text">
        <b>Add from gallery</b>
      </div>
    </button>
  </div>

  <div class="bar">
    <div class="progress"></div>
  </div>

  <p class="progress-text">
    66%
  </p>

  <div class="item-container">
    <ion-icon *ngIf="!scaledPhotoURI" name="image" class="item-image"></ion-icon>
    <img *ngIf="scaledPhotoURI" [src]="scaledPhotoURI" class="item-image"/>
    <div class="item-name">
      {{itemName}}
    </div>
  </div>


</ion-content>
