<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="pUpInfo">
    <p class="pUpDate">Pick up date</p>
    <p class="date">{{pickupDate}}</p>
    <p class="retDate">Return date {{formattedReturnDate}}</p>
  </div>
  <p class="location-and-opening-info">Borrowing office location and opening hours:</p>
  <p class="officeInfo">{{officeLocation}}</p>
  <p class="roomAndTimeInfo">{{officeRoom}}</p>
  <p class="dayAndOpeningInfo">{{officeDays}}</p>
  <p class="roomAndTimeInfo">{{officeHours}}</p>
  <div class="button.container">
    <button class="cancel-button" (click)="cancelClicked()">
      <div class="button-text">Cancel</div>
    </button>
    <button class="confirm-button" (click)="confirmClicked()">
      <div class="button-text">Confirm</div>
    </button>
  </div>
  <p class="item-borrow">Item you are reserving</p>
  <div class="image-container">
    <img *ngIf="!item.photoURL" src="./assets/icons/image.svg" class="no-image">
    <img *ngIf="item.photoURL" [src]="item.photoURL" class="item-image"/>
  </div>
  <div class="item-name-container">
    <div class="item-name">
      {{item.name}}
    </div>
  </div>
</ion-content>
