page-item-confirm-pickup {
  .blue-button1 {
    width: 11em;
    height: 4em;
    background-color: #40afce;
    margin-left: 4%;
  }

  .blue-button2 {
    width: 11em;
    height: 4em;
    background-color: #40afce;
    margin-left: 3%;
  }

  .placeBottom {
    position: absolute;
    bottom: 0px;
    width: 90%
  }

  .item-borrow {
    font-size: 1.5em;
  }

  .item-info {
    font-size: 1.5em;
  }
}
