page-item-confirm-pickup {

  .pUpInfo {
    border: 0.4em solid dimgray;
    height: 8em;
    width: 95%;
    margin-left: 1em;
  }

  .pUpDate {
    font-size: 2em;
    font-weight: bold;
    color: dimgray;
    text-align: center;
    position: relative;
    top: -0.8em;
  }

  .date {
    font-size: 1.3em;
    font-weight: bold;
    color: dimgray;
    text-align: center;
    position: relative;
    top: -2.5em;
  }


 .retDate {
    font-size: 1.3em;
    font-weight: bold;
    color: #F98782;
    text-align: center;
    position: relative;
    top: -3.3em;
  }

  

  .officeInfo {
    margin-top: 0em;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: dimgray;
  }

  .days-and-hours{
    position:relative;
    left:1em;
    font-size: 1.3em;
    margin-top:-1em;
    font-weight: bold;
    color: dimgray;
}

.opening-hours{
    position:sticky;
    left:11em;
}

  .roomAndTimeInfo {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: -0.5em;
    color: dimgray;
  }

  .hrstyle {
    height: 0.4em;
    background-color: dimgrey;
  }

  .button-container {
    text-align: center;
  }

  .cancel-button {
    width: 45%;
    height: 4em;
    background-color: #F98782
  }

  .confirm-button {
    width: 45%;
    height: 4em;
    background-color: #80E08F
  }

  .item-borrow {
    font-size: 1.5em;
    margin-top: 0.8em;
  }

  .image-container {
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    background-color: #525150;
  }

  .item-name-container {
    float: left;
    height: 70px;
    width: calc(100% - 70px);
    background-color: #DCDEE0;
  }

  .item-image {
    width: 100%;
    height: 100%;
  }

  .item-name {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
  }

  .no-image {
    height: 35px;
    width: 35px;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .location-and-opening-info{
    font-size:1.5em;
    text-align: center;
  }
}
