page-items-unavailable-user {

 .item-image {
    height: 4em;
    width: 4em;
    margin-right: 2em;
    float: left;
  }

  .item-name {
    font-size: 1em;;
    margin-top: 1em;
    float: left;
  }
  .available-date{
    font-size:0.7em;
    position:fixed;
    left:14.8em;
    top:7em;
  }

  .return-date{
    color: green;
    font-size: 0.58em;
    position: fixed;
    top:1.5em;
    left: 8.8em;
  }

  .reserved-date{
    color: red;
    font-size: 0.58em;
    position: fixed;
    top:7em;
    left: 8.8em;
  }
}
