page-item-picked-user {

  .item-image {
    width: 15em;
    height: 15em;
    margin-left: 4em;
    margin-top: 2em;
    border: solid black;
  }

  .inner-wrapper {
    background-color: black;
    opacity: 0.5;
    color: white;
    font-size: 1.25em;
    left: 3.2em;
    padding: 1em 6em;
    margin-top: -2.2em;
    margin-left: 0.9em;
    position: absolute;
  }

  .item-name {
    font-size: 1.5em;
    margin-top: -1.6em;
    margin-bottom: 2em;
    text-align: center;
    color: white;
    position: relative;
  }


  .cancel-button {
    float: left;
    width: 45%;
    height: 5em;
    margin-top: 2em;
    background-color: #F98782;
  }

  .yes-button {
    width: 45%;
    height: 5em;
    margin-top: 2em;
    background-color: #80E08F
  }

  .button-container {
    text-align: center;
  }
}
