page-item-picked-user {
 
  .title-text{
    text-align:center;
    font-size:2em;
  }

  .item-image {
    font-size: 12em;
    text-align: center;
    margin-left: 33%;
  }
  .item-name{
    text-align:center;
    font-size: 1.5em;
  } 
  .blue-button1 {
    width: 11em;
    height: 4em;
    background-color: #40afce;
    margin-left: 4%;
  }

  .blue-button2 {
    width: 11em;
    height: 4em;
    background-color: #40afce;
    margin-left: 3%;
  }
  
  .blue-button-text {
    color: white;
    font-size: 2em;
  }
}
