page-entity-info-admin {

    .info-text {
        text-align: center;
        color: grey;
        font-size: 20px;
        margin: 20px;
    }

    .info-text-2 {
        text-align: center;
        color:red;
        font-size: 20px;
        margin: 20px;
    }
}
