page-login {

  .content {
    background-color: #825c47;
    position: relative;
  }

  .logo {
    color: white;
    font-size: 200px;
    top: 30%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h1 {
    color: white;
    font-size: 40px;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .button {
    top: 90%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
