page-login {

  .container {
    text-align: center;
    top: 35%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .logo {
    color: white;
    height: 150px;
    width: 150px;
  }

  .title {
    color: #422744;
    font-size: 50px;
    font-family: 'Montserrat';
  }

  .text {
    white-space: nowrap;
    font-style: italic;
    line-height: 130%;
    font-size: 20px;
    margin: 10px;
    font-family: 'Roboto';
  }

  .button-container {
    top: 80%;
    left: 50%;
    width: 100%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .button {
    font-weight: bold;
    width: 90%;
    left: 5%;
    margin-top: 10px;
  }

  .buttonEmail {
    width: 90%;
    left: 5%;
    border: 5px solid #4E4E4E;
  }

  .email-text {
    color: #4E4E4E;
    font-weight: bold;
  }
}
