page-item-confirm-confirm-pickup {

  .pUpInfo {
    border: 0.4em solid #F98782;
    height: 8em;
    width: 95%;
    margin-left: 1em;
  }

  .confirmed {
    font-size: 2.5em;
    font-weight: bold;
    color: #F98782;
    text-align: center;
    position: relative;
    top: -0.8em;
  }

 .retDate {
    font-size: 1.3em;
    font-weight: bold;
    color: #F98782;
    text-align: center;
    position: relative;
    top: -3.6em;
  }

  .date {
    font-size: 1.3em;
    font-weight: bold;
    color: #F98782;
    text-align: center;
    position: relative;
    top: -4.7em;
  }


  .officeInfo {
    margin-top: 0em;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: dimgray;
  }

   .days-and-hours{
    position:relative;
    right:4em;
    font-size: 1.3em;
    margin-top:-1em;
    font-weight: bold;
    text-align: center;
    color: dimgray;
}

.opening-hours{
    position:fixed;
    left:11em;
}

  .roomAndTimeInfo {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: -0.5em;
    color: dimgray;
  }

  .hrstyle {
    height: 0.4em;
    background-color: dimgrey;
  }

  .button-container {
    text-align: center;
  }

  .confirm-button {
    width: 95%;
    height: 4em;
    background-color: #3f3f3f;
  }

  .item-borrow {
    font-size: 1.5em;
    margin-top: -0.2em;
  }

 
  .image-container {
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    background-color: #525150;
  }

  .item-name-container {
    float: left;
    height: 70px;
    width: calc(100% - 70px);
    background-color: #DCDEE0;
  }

  .item-image {
    width: 100%;
    height: 100%;
  }

  .item-name {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
  }

  .no-image {
    height: 35px;
    width: 35px;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

   .location-and-opening-info{
    font-size:1.5em;
    text-align: center;
  }
}
