page-item-confirm-confirm-pickup {

  .pUpInfo {
    border: 0.4em solid indianred;
    height: 8em;
    width: 70%;
    margin-left: 4em;
  }

  .confirmed {
    font-size: 2em;
    font-weight: bold;
    color: indianred;
    text-align: center;
    position: relative;
    top: -0.8em;
  }

 .retDate {
    font-size: 1.3em;
    font-weight: bold;
    color: indianred;
    text-align: center;
    position: relative;
    top: -1.7em;
  }

  .date {
    font-size: 1.3em;
    font-weight: bold;
    color: indianred;
    text-align: center;
    position: relative;
    top: -2.8em;
  }

  

  .officeInfo {
    margin-top: 3em;
    font-size: 1.3em;
    text-align: center;
    color: grey;
  }

  .dayAndOpeningInfo {
    margin-top: 2em;
    font-size: 1.3em;
    text-align: center;
    color: grey;
  }

  .roomAndTimeInfo {
    text-align: center;
    font-size: 2em;
    margin-top: -0.5em;
    color: grey;
  }

  .hrstyle {
    height: 0.4em;
    background-color: dimgrey;
  }

  .button-container {
    text-align: center;
  }

  .confirm-button {
    width: 8em;
    height: 4em;
    background-color: #3f3f3f;
  }

  .item-borrow {
    font-size: 1.5em;
    margin-top: 2em;
  }

  .image-container {
    position: relative;
    float: left;
    width: 25%;
    height: 70px;
    background-color: #525150;
  }

  .item-name-container {
    float: left;
    width: 75%;
    height: 70px;
    background-color: #DCDEE0;
  }

  .item-image {
    width: 100%;
    height: 100%;
  }

  .item-name {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
  }

  .no-image {
    height: 35px;
    width: 35px;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
