page-item-confirm-confirm-pickup {

  .pUpInfo {
    border: 0.4em solid indianred;
    height: 8em;
    width: 70%;
    margin-left: 4em;
  }

  .confirmed {
    font-size: 2em;
    font-weight: bold;
    color: indianred;
    text-align: center;
    position: relative;
    top: -0.8em;
  }

 .retDate {
    font-size: 1.3em;
    font-weight: bold;
    color: indianred;
    text-align: center;
    position: relative;
    top: -1.7em;
  }

  .date {
    font-size: 1.3em;
    font-weight: bold;
    color: indianred;
    text-align: center;
    position: relative;
    top: -2.8em;
  }

  

  .officeInfo {
    margin-top: 3em;
    font-size: 1.3em;
    text-align: center;
    color: grey;
  }

  .dayAndOpeningInfo {
    margin-top: 2em;
    font-size: 1.3em;
    text-align: center;
    color: grey;
  }

  .roomAndTimeInfo {
    text-align: center;
    font-size: 2em;
    margin-top: -0.5em;
    color: grey;
  }

  .hrstyle {
    height: 0.4em;
    background-color: dimgrey;
  }

  .buttons-placement {
    position: absolute;
    top: 26em;
    left:9em;
  }


  .confirm-button {
    width: 8em;
    height: 4em;
    background-color: #3f3f3f;
  }

  .placeBottom {
    position: absolute;
    bottom: 0em;
    width: 90%;
    left: 0em;
  }

  .item {
    width: 90%;
  }


  .item-borrow {
    vertical-align: top;
    font-size: 1.5em;
    margin-left: 1em;
    position: relative;
    bottom: 1em;
  }

  .item-image {
    width: 3.3em;
    height: 3.3em;
    position: relative;
  }

  .item-info {
    vertical-align: top;
    font-size: 1.3em;
    margin-left: 1em;
    height: 3.7em;
    border: 0.2em solid dimgrey;
    position: relative;
    bottom: 1.8em;
  }


  .item-name {
    position: relative;
    bottom: 0.8em;
    left: 0.8em;
  }
}
