<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="pUpInfo">
    <p class="confirmed">Confirmed</p>
    <p class="retDate">Remember to pick up</p>
    <p class="date">{{pUpDate}}</p>
  </div>
  <p class="officeInfo">{{officeLocation}}</p>
  <p class="roomAndTimeInfo">{{officeRoom}}</p>
  <p class="dayAndOpeningInfo">{{officeDays}}</p>
  <p class="roomAndTimeInfo">{{officeHours}}</p>
  <div class="button-container">
    <button class="confirm-button" (click)="okClicked()">
      <div class="button-text">Ok</div>
    </button>
  </div>
  <p class="item-borrow">Item you want to reserve</p>
  <div class="image-container">
    <img *ngIf="!item.photoURL" src="./assets/icons/image.svg" class="no-image">
    <img *ngIf="item.photoURL" [src]="item.photoURL" class="item-image"/>
  </div>
  <div class="item-name-container">
    <div class="item-name">
      {{item.name}}
    </div>
  </div>
</ion-content>
