<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchString"
                 (ionInput)="search()">
  </ion-searchbar>

  <button class="blue-button" (click)="goToItemsAddNameAdminPage()">
    <ion-icon name="add" class="button-icon"></ion-icon>
    <div class="button-with-icon-text">
      <b>Add new item</b>
    </div>
   </button>

  <ion-list>
    <ion-item (click)="goToItemsDetailsAdminPage(item)" *ngFor="let item of itemsList">
      <img [src]="item.photoURL" class="item-image" />
      <div class="item-name">
        {{item.name}}
      </div>
      <br>
      <div class="return-date">
        Return from current loan: {{item.loan.formattedShortDate}}
      </div>
      <div class="reserved-date" *ngIf="item.reserved!=null">
        Next reservation:<br>{{item.reserved[0].formattedShortpUpDate}} - {{item.reserved[0].formattedShortRetDate}}
      </div>
    </ion-item>
  </ion-list>


</ion-content>
