<!--
  Generated template for the ItemsLoanedAdmin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ItemsLoanedAdmin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchString"
                 (ionInput)="search()">
  </ion-searchbar>

  <ion-list>
    <ion-item (click)="goToItemsDetailsAdminPage(item)" *ngFor="let item of itemsList">
      <img [src]="item.photoURL" class="item-image" />
      <div class="item-name">
        {{item.name}}
      </div>
      <br>
      <span class="return-date">Return from current loan: {{item.loan.formattedShortDate}}</span>
      <span class="reserved-date" *ngIf="item.reserved!=null">Next reservation: {{item.reserved[0].formattedShortpUpDate}} - {{item.reserved[0].formattedShortRetDate}}</span>
    </ion-item>
  </ion-list>
</ion-content>
