
<ion-header>

  <ion-navbar>
    <ion-title>users-add-tag-admin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!success">
    <p class=title>
      <b>Place your device on the NFC tag</b>
    </p>
    <ion-icon name="finger-print" class="scann-icon"></ion-icon>
  </div>

  <div *ngIf="success">
    <p class=success-text>
      <b>Success, request sent to {{user.fullname}}</b>
    </p>
    <ion-icon name="thumbs-up" class="scann-icon"></ion-icon>
  </div>

</ion-content>
