<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="!success">
    <p class=title>
      <b>Place your device on the NFC tag</b>
    </p>
    <img src="./assets/icons/encode_scan.svg" class="scann-icon">
  </div>

  <div *ngIf="success">
    <p class=success-text>
      <b>Success, request sent to {{user.fullname}}</b>
    </p>
    <ion-icon name="thumbs-up" class="scann-icon"></ion-icon>
  </div>

</ion-content>
