
<ion-header>

  <ion-navbar>
    <ion-title>itemsDetailsAdmin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!modify">
    <ion-icon name="md-create" class="edit-icon" (click)="modify = true"></ion-icon>

    <p class=title>
      <b>{{item.name}}</b>
    </p>
    
    <img [src]="item.photoURL" class="item-image" />

    <p class="description">
      <b>Description</b><br>
      bla bla bla
    </p>

    <p class="status">
      <b>Status</b><br>
      In stock
    </p>
  </div>

  <div><div class="item-res-days"><b>Number of standard loan days:</b> <span *ngIf="!modifyResDays">{{resDays}}</span></div> <ion-icon name="md-create" class="edit-icon3" (click)="modifyResDays = true" *ngIf="!modifyResDays">
  </ion-icon> <ion-icon name="checkbox-outline" class="edit-icon3" (click)="editResDays()" *ngIf="modifyResDays"></ion-icon><ion-item class="reservation-input" *ngIf="modifyResDays">
      <ion-input placeholder="#" type="number" min="1" max="99" [(ngModel)]="resDays"></ion-input>
    </ion-item></div>


  <div class="notification-reservation" [class.hideShow]="item.reservation==null" *ngIf="item.reservation!=null">{{requesterName.fullname}} wants to reserve this item. <br /> Pickup date: {{item.reservation.formattedpUpDate}}. <br /> Return date: {{item.reservation.formattedRetDate}}
      <button class="decline-button" (click)="declineClicked()">
        <div class="button-text">Decline</div>
      </button>
      <button class="accept-button" (click)="acceptClicked()">
        <div class="button-text">Accept</div>
      </button>
    </div>

  <div class="notification-reserved" [class.hideShow]="item.reserved==null"  *ngIf="item.reserved!=null">Reserved by {{requesterName.fullname}}.<br /> Pickup date: {{item.reserved.formattedpUpDate}} <br />Return date: {{item.reserved.formattedRetDate}} </div>
  <button class="cancel-res-button" (click)="cancelResClicked()" *ngIf="item.reserved!=null">
    <div class="cancel-res-button-text" >Cancel reservation</div>
  </button>


    <div *ngIf="modify">
      <ion-icon name="checkbox-outline" class="edit-icon" (click)="modify = false"></ion-icon>

      <p class= title>
        <ion-input placeholder="{{item.name}}" [(ngModel)]="newItemName"></ion-input>
      </p>

      <ion-icon name="image" class="item-image"></ion-icon>

      <div class="image-button-container">
        <button class="image-button">
          <ion-icon name="camera" class="button-icon"></ion-icon>
        </button>

        <button class="image-button">
          <ion-icon name="image" class="button-icon"></ion-icon>
        </button>
      </div>


      <p class="description">
        <b>Description</b><br>
        <ion-input placeholder="bla bla bla" [(ngModel)]="newItemDescription"></ion-input>
      </p>

      <div class="button-container">
        <button class="blue-button">
          <ion-icon name="finger-print" class="button-icon"></ion-icon>
          <div class="button-with-icon-text">
            <b>Encode</b>
          </div>
        </button>

        <button class="red-button">
          <ion-icon name="nuclear" class="button-icon"></ion-icon>
          <div class="button-with-icon-text">
            <b>Delete item</b>
          </div>
        </button>
      </div>
    </div>

</ion-content>
