<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="!modify">

    <div class="top-button-container">
      <button class="checkout-button" (click)="checkout()" *ngIf="item.loan==null && item.pendingLoan==null">
        <img src="./assets/icons/checkout_full.svg" class="checkout-icon">
        <div class="checkout-text">
          <b>Check out</b>
        </div>
      </button>
      <button class="checkin-button" (click)="checkin()" *ngIf="item.loan!=null">
        <img src="./assets/icons/checkin.svg" class="checkout-icon">
        <div class="checkin-text">
          <b>Check In</b>
        </div>
      </button>
      <button class="red-button2" (click)="cancelLoan(item)" *ngIf="item.pendingLoan!=null">
        <div class="cancel-pending-text">
          <b>Cancel<br>pending loan</b>
        </div>
      </button>
      <button class="edit-button" (click)="modify = true">
        <img src="./assets/icons/edit.svg" class="edit-icon">
        <div class="edit-text">
          <b>Edit</b>
        </div>
      </button>
    </div>

    <div class="item-image-super-container">
    <div class="item-image-container">
      <img [src]="item.photoURL" class="item-image" *ngIf="item" />
      <div class="inner-wrapper">
        <div class="item-name">{{item.name}}</div>
      </div>
    </div>
    </div>

    <br>
    <b>Description</b><br>
    <div class="description" [(ngModel)]="itemDescription" *ngIf="itemDescription && itemDescription!=''">
      <ion-textarea class="description-text">
        {{itemDescription}}
      </ion-textarea>
    </div>

    <div class="no-description-text" *ngIf="!(itemDescription && itemDescription!='')">
      <b>No description...yet</b>
    </div>

    <div class="status">
      <b>Status</b>
      <div *ngIf="item.loan==null && item.pendingLoan==null"> 
        Available
      </div>
      <div *ngIf="item.loan!=null && item.pendingLoan==null"> 
        Out until {{item.loan.formattedShortDate}}<br>
        Borrower: {{item.loan.loanerName}}
      </div>
      <div *ngIf="item.pendingLoan!=null"> 
       Checked out to {{item.pendingLoan.loanerName}}. Not yet accepted.
      </div>
    </div>

    <div class="item-res-days">
      <b>Standard number of loan days:</b>
      <span class="resdays">{{resDays}}</span>
    </div>

<button class="blue-button" (click)="goToReservationCalendar()">
      <img src="./assets/icons/calendar.svg" class="button-icon-svg">
      <div class="button-with-icon-svg-text">
        <b>Item calendar</b>
      </div>
    </button>

  </div>





    <div *ngIf="modify">

      <div class="top-button-container">
        <button class="checkout-button" (click)="cancel()">
          <div class="button-text">
            <b>Cancel</b>
          </div>
        </button>
        <button class="edit-button" (click)="confirm()">
          <div class="button-text">
            <b>Save</b>
          </div>
        </button>
    </div>
    
    <div class="item-image-super-container">
    <div class="item-image-container">
      <img [src]="item.photoURL" class="item-image" *ngIf="item" />
    </div>
    </div>

      <div class="image-button-container">
        <button class="image-button" (click)="getPicture(true)">
          <img src="./assets/icons/camera.svg" class="button-icon-svg3">
        </button>

        <button class="image-button" (click)="getPicture(false)">
          <img src="./assets/icons/image.svg" class="button-icon-svg3">
        </button>
      </div>

      <ion-input placeholder="Add name" [(ngModel)]="itemName" class="item-name-input">
        {{itemName}}
      </ion-input>

      <b>Description</b><br>
        <div class="description" [(ngModel)]="itemDescription">
        <ion-textarea class="description-text" placeholder="Add description">
          {{itemDescription}}
        </ion-textarea>
      </div>

      <br>

      <div class="item-res-days">
        <b>Standard number of loan days:</b>
      </div> 
      <ion-item class="reservation-input">
        <ion-input placeholder="#" type="number" min="1" max="99" [(ngModel)]="resDays"></ion-input>
      </ion-item>
      <div class="info-text">(Altering wont affect reservations already made)</div>

      <div class="button-container">
        <button class="white-button" (click)="encode()">
          <img src="./assets/icons/scantag.svg" class="button-icon-svg2">
          <div class="white-button-with-icon-svg-text">
            <b>Register new NFC tag</b>
          </div>
        </button>

        <button class="red-button" (click)="delete()">
          <div class="button-text">
            <b>Delete item</b>
          </div>
        </button>
      </div>

    </div>

</ion-content>
