page-items-details-admin {

  .edit-icon {
    float: right;
    font-size: 50px;
  }

  .item-image {
    position: absolute;
    font-size: 150px;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-button-container {
    display: inline-block;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-button {
    background-color: #40afce;
  }

  .description {
    position: absolute;
    top: 50%;
  }

  .status {
    position: absolute;
    top: 60%;
  }

  .button-container {
    position: absolute;
    bottom: 0px;
  }

  .red-button {
    width: 100%;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: red;
  }

  .notification-reservation {
    position: absolute;
    top: 29em;
    color: red;
  }

  .notification-reserved {
    position: absolute;
    top: 29em;
    color: red;
  }

  .hideShow {
    display: none;
  }

  .cancel-res-button-text {
    font-size: 0.9em;
    color: white;
  }

  .cancel-res-button {
    width: 6em;
    height: 2em;
    margin-right: 1.2em;
    margin-left: 20em;
    margin-top: 22.5em;
    background-color: #f28282;
  }

  .decline-button {
    width: 8em;
    height: 3em;
    left: 3em;
    top: 5.5em;
    background-color: #f28282;
    position: absolute;
  }

  .accept-button {
    width: 8em;
    height: 3em;
    background-color: #7cd87b;
    top: 5.5em;
    left: 13em;
    position: absolute;
  }

  .button-text {
    font-size: 1.5em;
    color: white;
  }
}
