
<ion-header>

  <ion-navbar>
    <ion-title>itemsDetailsAdmin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!modify">
    <ion-icon name="md-create" class="edit-icon" (click)="modify = true"></ion-icon>

    <p class=title>
      <b>{{item.name}}</b>
    </p>
    
    <ion-icon name="image" class="item-image"></ion-icon>

    <p class="description">
      <b>Description</b><br>
      bla bla bla
    </p>

    <p class="status">
      <b>Status</b><br>
      In stock
    </p>
  </div>




  <div *ngIf="modify">
    <ion-icon name="checkbox-outline" class="edit-icon" (click)="modify = false"></ion-icon>

    <p class=title>
      <ion-input placeholder="{{item.name}}"  [(ngModel)]="newItemName"></ion-input>
    </p>
    
    <ion-icon name="image" class="item-image"></ion-icon>
    
    <div class="image-button-container">
      <button class="image-button">
        <ion-icon name="camera" class="button-icon"></ion-icon>
      </button>

      <button class="image-button">
        <ion-icon name="image" class="button-icon"></ion-icon>
      </button>
    </div>
    

    <p class="description">
      <b>Description</b><br>
      <ion-input placeholder="bla bla bla"  [(ngModel)]="newItemDescription"></ion-input>
    </p>

    <div class="button-container">
      <button class="blue-button">
        <ion-icon name="finger-print" class="button-icon"></ion-icon>
        <div class="button-with-icon-text">
          <b>Encode</b>
        </div>
      </button>

      <button class="red-button">
        <ion-icon name="nuclear" class="button-icon"></ion-icon>
        <div class="button-with-icon-text">
          <b>Delete item</b>
        </div>
      </button>
    </div>
  </div>

</ion-content>
