page-main {

  p {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .button_1 {
      width: 130px;
      height: 100px;
  }

  .button_2 {

  }

  .button_3 {
      width: 85px;
      height: 85px;
  }
}
