page-checkout-item-picked {

  

  .someText {
    font-size: 18px;
    color: #696969;
  }

 .item-image {
    width:4em;
    height:4em;
    float: left;
    position:relative;
  }

   .item-name {
    top:1.5em;
    left:1.5em;
    float: left;
    position:relative;
  }
  .scroll-bar {
    overflow: auto;
    overflow-x: hidden;
    white-space: nowrap;
  }

  .item-container {
    width: 110%;
    height: 68px;
    border: 5px solid #d6d6d6;
    background-color: #d6d6d6;
    margin-bottom:0.5em;
    position:relative;
  }

  .placeBottom {
    margin-top:2em;
    width: 100%
  }

  .close-icon{
    position: absolute;
    font-size: 30px;
    left: 95%;
    top: 0%;
  }

  .global-item-container-title {
    position: absolute;
    font-size: 20px;
    top: 0%;
    left: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 80px);
  }

  .description {
    position: absolute;
    font-size: 0.8em;
    top: 40%;
    left: 70px;
    white-space: normal;
    overflow: hidden;
    max-height: 40px;
  }
}
