page-checkout-item-picked {
  .title-text {
    font-size: 30px;
    color: #825c47;
    text-align: center;
  }

  .button-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .blue-button {
    width: 100%;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #40afce;
  }

  .blue-button-text {
    font-size: 25px;
    color: white;
  }

  .customIcon {
    font-size: 1.7em;
  }
  
  .listProps{
  background-color: #d3d3d3;
  font-size: 15px;
  }
  
  .someText{
  font-size: 18px;
  text-align: center;
  color: #696969;
  }
  
 .item-image {
   font-size: 25px;
  }
  
  .placeBottom{
  position:absolute;
  bottom:0px;
  width:90%
  }  
}
