page-checkout-item-picked {
  .title-text {
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1.2em;
  }

  .checkout-button1 {
    width: 20em;
    height: 4em;
    margin-top: 0.5em;
    margin-left: 2.2em;
    background-color: white;
    border: solid black;
  }

  .checkout-button2 {
    width: 20em;
    height: 4em;
    margin-top: 1.7em;
    margin-left: 2.2em;
    background-color: white;
    border: solid black;
  }


  .listProps {
    background-color: #d3d3d3;
    font-size: 1em;
    padding: 0.2em 2em;
  }

  .someText {
    font-size: 18px;
    text-align: center;
    color: #696969;
  }

  .item-image {
    margin-left:-1.7em;
    margin-bottom: -0.3em;
    width: 2.4em;
    height: 2.4em;
  }

  .item-name {
    font-size: 1.4em;
    margin-left: 1em;
    bottom: 0.25em;
    position: relative;
  }

  .placeBottom {
    position: absolute;
    bottom: 0px;
    width: 90%
  }

  .close-icon{
    font-weight:bold;
    font-size:1.5em;
    left: 11.2em;
    bottom: 1em;
    position:fixed;
  }
}
