page-items-add-photo-admin {

  .title-text {
    font-size: 30px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }




  .button-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .blue-button {
    width: 100%;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #40afce;
  }

  .blue-button-text {
    font-size: 25px;
    color: white;
    margin-top: 15px;
    float: left;
  }

  .blue-button-icon {
    font-size: 55px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
  }




  .item-container {
    width: 100%;
    height: 70px;
    bottom: 20px;
    position: absolute;
  }

  .item-image {
    font-size: 80px;
    margin-left: 15px;
    margin-right: 40px;
    float: left;
  }

  .item-name {
    font-size: 25px;
    margin-top: 25px;
    float: left;
  }
}
