<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <p class= title>
    <b>When is the entity open?</b>
  </p>

  <div>
    <div class="alert-text" *ngIf="notAdded1">You have to select days open</div>
    <ion-item>
      <ion-label>Opening days</ion-label>
      <ion-select  multiple="true" [(ngModel)]="entityDays">
        <ion-option value="1">Monday</ion-option>
        <ion-option value="2">Tuesday</ion-option>
        <ion-option value="3">Wednesday</ion-option>
        <ion-option value="4">Thursday</ion-option>
        <ion-option value="5">Friday</ion-option>
        <ion-option value="6">Saturday</ion-option>
        <ion-option value="0">Sunday</ion-option>
      </ion-select>
    </ion-item>
   
    <div class="alert-text" *ngIf="notAdded2">You have to select opening hours</div>
    <ion-item>
      <ion-label>Open from</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="entityHoursFrom" ></ion-datetime>
    </ion-item>
    <div class="alert-text" *ngIf="notAdded3">You have to select closing hours</div>
    <ion-item>
      <ion-label>Open to</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="entityHoursTo"></ion-datetime>
    </ion-item>

  </div>

  <br>

  <button class="black-button" (click)="addEntity()">
    <div class="button-text">
      <b>Done</b>
    </div>
  </button>


</ion-content>
