page-entity-opening-time-admin {
  .alert-text {
    text-align: center;
    color: red;
  }

  .days{
    position:relative;
    top:0.5em;
    margin-bottom:1.5em;
    font-size:1.4em;
font-weight:bold;
}

.opening-hours{
}

.edit-from{
  width:50%;
  height:1em;
  bottom:2.2em;
  margin-bottom:-2em;
  position:relative;
}

.edit-to{
  width:45%;
  height:1em;
  bottom:3em;
  margin-bottom:-2em;
  left:55%;
  position:relative;
}

.change-days-text{
  font-size:1.5em;
  position:relative;
  left:25%;
}

.edit-days{
  font-size:2em;
  position:relative;
  bottom:1em;
  left: calc(25% + 140px);
}

}
