page-custom-alert-checkin {

.item-image {
   font-size: 120px;
    margin-left: 36%;
  }
  
  .blue-button1 {
   width: 80px;
   height: 40px;
    background-color: #40afce;
	margin-left: 23%;
  }

   .blue-button2 {
   width: 80px;
   height: 40px;
    background-color: #40afce;
	margin-left: 5%;
  }
  
  .blue-button-text {
    color: white;
  }
  
  .centerText{
  text-align: center;
  }
}
