<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <p class= title>
    <b>Where is the library located?</b>
  </p>

  <div>
    <div class="alert-text" *ngIf="notAdded1">You have to name a location</div>
    <ion-item>
      <ion-input placeholder="Location" [(ngModel)]="entityLocation"></ion-input>
    </ion-item>
    <div class="alert-text" *ngIf="notAdded2">You have to name a room</div>
    <ion-item>
      <ion-input placeholder="Room" [(ngModel)]="entityRoom"></ion-input>
    </ion-item>
  </div>

  <br>

  <button class="black-button" (click)="goToEntityOpeningTime()">
    <div class="button-text">
      <b>Next</b>
    </div>
    <ion-icon class="arrow-icon" name="md-arrow-forward"></ion-icon>
  </button>

</ion-content>
