<ion-header>

  <ion-navbar color="navbar">
    <div>
      <img src="./assets/icons/logo.svg" (click)="navCtrl.popToRoot()" [ngClass]="db.isAndroid() ? 'android-logo' : 'ios-logo'">
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="menu.openDropdownMenu($event)">
        <img class="facebook-image" [src]="db.currentUserPhotoURI"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p class= title>
    <b>Where is the entity located?</b>
  </p>

  <div>
    <div class="alert-text" *ngIf="notAdded1">You have to name a location</div>
    <ion-item>
      <ion-input placeholder="Location" [(ngModel)]="entityLocation"></ion-input>
    </ion-item>
    <div class="alert-text" *ngIf="notAdded2">You have to name a room</div>
    <ion-item>
      <ion-input placeholder="Room" [(ngModel)]="entityRoom"></ion-input>
    </ion-item>
  </div>

  <br>

  <button class="black-button" (click)="goToEntityOpeningTime()">
    <div class="button-text">
      <b>Next</b>
    </div>
    <ion-icon class="arrow-icon" name="md-arrow-forward"></ion-icon>
  </button>

</ion-content>
