<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <button class="blue-button" (click)="goToItemPickedPage()">
      <img src="./assets/icons/calendar.svg" class="button-icon-svg">
      <div class="blue-button-text">
        <b>Reserve</b>
      </div>
    </button>
     <div style="text-align: center;">You can borrow this item for {{resDays}} days</div>
    <img [src]="item.photoURL" class="item-image" *ngIf="item" />
    <div class="inner-wrapper"></div>
    <div class="item-name">{{item.name}}</div>

    <b>Description</b><br>
     <div class="description" [(ngModel)]="itemDescription" *ngIf="itemDescription && itemDescription!=''" ngDefaultControl>
        {{itemDescription}}
    </div>
    <div class="no-description-text" *ngIf="!(itemDescription && itemDescription!='')">
      <b>No description...yet</b>
    </div>

    <p class="status">
      <b>Status</b><br>
      <span *ngIf="item.loan!=null"> Out until {{item.loan.formattedShortDate}}</span>
      <span *ngIf="item.loan==null"> Available</span>
    </p>

   


<div class="you-have-reserved" *ngIf="reservation!=null&&!reservationCanceled">You have reserved this item from {{reservation.formattedShortpUpDate}}</div>

</ion-content>
