<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
   <img [src]="item.photoURL" class="item-image" *ngIf="item" />
    <div class="inner-wrapper"></div>
    <div class="item-name">{{item.name}}</div>

    <p class="description">
      <b>Description</b><br>
      {{item.description}}
    </p>

    <p class="status">
      <b>Status</b><br>
      <span *ngIf="item.loan!=null"> Out until {{item.loan.formattedShortDate}}</span>
      <span *ngIf="item.loan==null"> Available</span>
    </p>

    <div class="item-res-days"><b>Number of standard loan days:</b> {{resDays}}</div>


<div class="you-have-reserved" *ngIf="reservation!=null&&!reservationCanceled">You have reserved this item from {{reservation.formattedShortpUpDate}}</div>
  <button class="blue-button" (click)="goToItemPickedPage()"><div class="button-text">Reserve</div></button>
</ion-content>
