page-items-details-user {
  
  .description {
    margin-top: 5px;
  }

  .no-description-text {
    color: grey;
  }

  .status {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  textarea {
    height: 60px;
    resize: both;
  }

  .item-image-super-container {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
  }

  .item-image-container {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100%;
    border: solid black;
  }

  .item-image {
    width: 100%;
    height: 100%;
  }

  .inner-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 2.5em;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  .item-name {
    font-family: 'Montserrat';
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
    margin-top: 0.4em;
  }

  .you-have-reserved{
    color:red;
    margin-top: 1em;
  }

  .black-button {
    margin-top: 2em;
  }

  .calendar-icon{
    position:relative;
    right: 2.3em;
    font-size: 1.5em;
  }

  .blue-button {
    position: relative;
    height: 60px;
  }
}
