page-items-details-user {
  .description {
    position: absolute;
    top: 50%;
  }

  .status {
    position: absolute;
    top: 60%;
  }

  .item-image {
    position: absolute;
    width:8em;
    height:8em;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .blue-button{
    height:3em;
    width:10em;
    margin-top:28em;
    margin-left:8em;
  }
  .button-text{
    font-size:1.5em;
  }
  .item-res-days {
    position: absolute;
     top:30.5em;
  }
}
