<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div>Active library:</div>

  <div class="current-entity-container" (click)="goToEntityDetailsUserPage()">
    <div class="current-entity-text">
      <span *ngIf="db.currentUser && db.currentUser.entity != 'No library, join a library to get started'">
        {{currentUserEntity}}
      </span>
      <span *ngIf="db.currentUser && db.currentUser.entity == 'No library, join a library to get started'">
        You are not connected to a library. Please join one to get started.
      </span>
    </div>
    <ion-icon name="md-arrow-forward" class="edit-icon" *ngIf="db.currentUser && db.currentUser.entity != 'No library, join a library to get started'"></ion-icon>
  </div>

  <div class="button-container">
    <button class="black-button" (click)="goToEntityChangeUserPage()">
      <img src="./assets/icons/list.svg" class="button-icon-svg">
      <div class="button-with-icon-svg-text">
        <b>List my libraries</b>
      </div>
   </button>
   <button class="white-button" (click)="goToEntityListUserPage()">
      <img src="./assets/icons/search.svg" class="white-button-icon-svg">
      <div class="white-button-with-icon-svg-text">
        <b>Join a library</b>
      </div>
   </button>
  </div>

</ion-content>