page-entity-user {

    .current-entity-container {
    position: relative;
    font-weight: bold;
    color: #4E4E4E;
    font-size: 25px;
    margin-bottom: 100px;
  }

  .current-entity-text {
    max-width: 90%;
  }

  .edit-icon {
    height: 25px;
    width: 25px;
    left: 90%;
    top: 0%;
    position: absolute;
  }
  
}
