page-checkin-first {
  .title-text {
    font-size: 30px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  .scann-icon {
    font-size: 250px;
    margin-left: 23%;
	position: static;
  }


  .blue-button {
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #40afce;
  }

  .blue-button-text {
    color: white;
  }

  .customIcon {
    font-size: 1.7em;
  }
  
  .listProps{
  background-color: #d3d3d3;
  }
  
  

}
