page-email-login {

  .buttonEmail {
    top: 90%;
    left: 10%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .buttonRegistry {
    top: 90%;
    left: 25%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .login-button {
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: #1bc491;
  }

  .input {
      border: 3px solid grey;
      border-radius: 15px;
  }

  .text-input {
    margin-left: 20px;
  }
  
  .info-text {
      font-size: 18px;
      text-align: center;
      color: #1589FF;
  }

  .forgot-pass {
    margin-top: -15px;
    margin-left: 5px;
    font-size: 16px;
  }

  .error {
      text-align: center;
      color: red;
      margin-bottom: 10px;
      margin-top: 20px;
  }

}
