page-entity-standard-reservation {
.title-text{
font-weight:bold;
font-size:3em;
text-align:center;
}
.office-and-opening{
margin-top:2em;
font-size:1.5em;
text-align:center;
}
.location-and-days{
    margin-top:0.5em;
    margin-bottom:0.3em;
    font-size:1.4em;
font-weight:bold;
text-align:center;
}
.room-and-hours{
font-size:1.8em;
font-weight:bold;
text-align:center;
}

.reservation-input{
    width:6.2em;
    height:1em;
    position: relative;
    left:70%;
    top:0.2em;
}
.reservation-text{
    position:relative;
    top:2.5em;
}
.place-bottom{
    position: relative;
    top:1em;
}

.info-text{
    font-size:0.8em;
    margin-top:1em;
}


.empty-res-days{
    color:red;
    text-align:center;
}

.days-and-hours{
    position:relative;
    top:0.5em;
    font-size:1.4em;
    font-weight:bold;
}

.opening-hours{
    position:absolute;
    font-weight:normal;
    white-space: nowrap;
    margin-bottom:0.5em;
    margin-top:0.2em;
    left:calc(100% - 6em);
}

}
