<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
<div class="title-text">{{entityName}}</div>
<div class="office-and-opening">Borrowing office location:</div>
<div class="location-and-days">{{entityOffice.location}}</div>

<div class="room-and-hours">{{entityOffice.room}}</div>
<br>
<br>
<hr style="color:gray;height:0.5em;">
<div class="office-and-opening">Opening hours:</div>
<div class="days-and-hours" *ngFor="let entityDay of entityOffice.days">{{getWeekDay(entityDay)}}  <span class="opening-hours" *ngIf="!modifyHours">{{getHours(entityDay)}}</span></div>

<div class="reservation-text"> Number of loan days:</div>
<ion-item class="reservation-input">
      <ion-input placeholder="#days" type="number" min="1" max="99" [(ngModel)]="reservationDays"></ion-input>
    </ion-item>
<div class="empty-res-days" *ngIf="emptyResDays">You have to add standard reservation days</div>
    <div class="info-text">(you can alter office and reservation days at entity page)</div>

<br>
<div class="place-bottom">
 <button class="black-button" (click)="addEntity()">
    <div class="button-text">
      <b>Add entity</b>
    </div>
  </button>
</div>
</ion-content>
