page-home-admin {

  .button-container2 {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 45%;
  }

  .check-out-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 45%;
  }

  .check-in-container {
    position: absolute;
    top: 0%;
    left: 55%;
    height: 100%;
    width: 45%;
  }

  .top-text {
    font-size: 15px;
  }

  .current-entity {
    font-family: 'Montserrat';
    color: #4E4F4F;
    font-size: 25px;
  }

  .check-out-button {
    background-color: #F98782;
    height: 100%;
    width: 100%;
  }

  .check-out-icon {
    height: 65px;
    width: 65px;
  }

  .check-out-text {
    font-family: 'Montserrat';
    color: #844341;
    font-size: 20px;
    margin-top: 10px;
  }




  .check-in-button {
    background-color: #80E08F;
    height: 100%;
    width: 100%;
  }

  .check-in-icon {
    height: 65px;
    width: 65px;
  }

  .check-in-text {
    font-family: 'Montserrat';
    color: #0D5E19;
    font-size: 20px;
    margin-top: 10px;
  }




  .grey-button {
    width: 100%;
    height: 60px;
    margin-top: 15px;
    background-color: #DCDEE0;
  }

  .grey-button-glowing {
    width: 100%;
    height: 60px;
    margin-top: 15px;
    background-color: #DCDEE0;
    border: 3px solid #9ecaed;;
    box-shadow: 0 0 10px #DCDEE0;
  }

  .grey-button-icon {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-left: 10px;
    float: left;
  }

  .grey-button-text-container {
    float: left;
  }

  .grey-button-text-title {
    font-size: 20px;
    float: left;
  }

  .grey-button-text-info {
    float: left;
  }

  .notification-container {
    background-color: #FF7166;
    text-align: center;
    margin-top: -5px;
    height: 25px;
  }

  .notification-pending {
    color: white;
    font-size: 15px;
    padding: 5px;
  }

  .notification-reservation {
    color: white;
    font-size: 15px;
    padding: 5px;
  }

  .grey-button-text {
    margin-top: 5px;
  }

  .developer-tools-button {
    top: 90%;
    width: 100%;
    height: 60px;
    background-color: #d6d6d6;
    position: absolute;
  }

  .developer-tools-text {
    font-size: 30px;
  }

  button {
    margin: 0;
  }


  .android-logo {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 50px;
    width: 50px;
  }

  .ios-logo {
    position: absolute;
    top: 25%;
    left: 3%;
    height: 50px;
    width: 50px;
  }
}
