page-home-admin {
  
  .button-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .check-out-button {
    width: 150px;
    height: 130px;
    margin-right: 20px;
    background-color: #F98782;
  }

  .check-out-icon {
    height: 65px;
    width: 65px;
  }

  .check-out-text {
    font-size: 20px;
    margin-top: 10px;
  }




  .check-in-button {
    width: 150px;
    height: 130px;
    background-color: #80E08F;
  }

  .check-in-icon {
    height: 65px;
    width: 65px;
  }

  .check-in-text {
    font-size: 20px;
    margin-top: 10px;
  }




  .grey-button {
    width: 100%;
    height: 60px;
    margin-top: 15px;
    background-color: #DCDEE0;
  }

  .grey-button-glowing {
    width: 100%;
    height: 60px;
    margin-top: 15px;
    background-color: #DCDEE0;
    border: 3px solid #9ecaed;;
    box-shadow: 0 0 10px #DCDEE0;
  }

  .grey-button-icon {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-left: 10px;
    float: left;
  }

  .grey-button-text-container {
    float: left;
  }

  .grey-button-text-title {
    font-size: 20px;
    float: left;
  }

  .grey-button-text-info {
    float: left;
  }

  .notification-container {
    background-color: #FF7166;
    text-align: center;
    margin-top: -5px;
    height: 25px;
  }

  .notification-pending {
    color: white;
    font-size: 15px;
    padding: 5px;
  }

  .notification-reservation {
    color: white;
    font-size: 15px;
    padding: 5px;
  }

  .grey-button-text {
    margin-top: 5px;
  }

  .developer-tools-button {
    top: 90%;
    width: 100%;
    height: 60px;
    background-color: #d6d6d6;
    position: absolute;
  }

  .developer-tools-text {
    font-size: 30px;
  }

  button {
    margin: 0;
  }
}
