<ion-header no-border>
  <ion-navbar color="navbar-color">
    <div>
      <img src="./assets/icons/logo.svg" [ngClass]="db.isAndroid() ? 'android-logo' : 'ios-logo'">
    </div>

    <ion-buttons end>
      <button ion-button icon-only (click)="openDropdownMenu($event)">
        <div>
          <div *ngIf="db.currentUser" style="margin: 2.5px; font-size: 13px">
            {{trimUsername(db.currentUser.fullname)}}
          </div>

          <div style="float: right; margin: 2.5px; font-size: 13px">
            <span *ngIf="db.currentUser && db.currentUser.adminRole == 'true'">Admin</span>
            <span *ngIf="db.currentUser && db.currentUser.adminRole == 'false'">Borrower</span>
          </div>
        </div>
      </button>

      <button ion-button icon-only (click)="openDropdownMenu($event)">
        <img *ngIf="db.currentUser" [src]="db.currentUser.photoURL" [ngClass]="db.isAndroid() ? 'facebook-image-android' : 'facebook-image-ios'">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="top-text">Current Library:</div>
  <div class="current-entity" *ngIf="currentEntity != 'No library, join a library to get started'">
    {{currentEntity}}
  </div>
  <div class="current-entity" *ngIf="currentEntity == 'No library, join a library to get started'">
    No library here yet. Please create one to get started.
  </div>


  <div class="button-container2">
    <div class="check-out-container ">
    <button class="check-out-button" (click)="goToCheckOut()">
      <div>
        <img src="./assets/icons/checkout.svg" class="check-out-icon">
        <div class="check-out-text">
          Check out
        </div>
      </div>
    </button>
    </div>

    <div class="check-in-container">
    <button class="check-in-button"  (click)="goToCheckIn()">
      <div>
        <img src="./assets/icons/checkin.svg" class="check-in-icon">
        <div class="check-in-text">
          Check in
        </div>
      </div>
    </button>
    </div>
  </div>


<div class="button-container">
  <button class="grey-button" (click)="goToItemsAdminPage()">
    <div>
      <img src="./assets/icons/items.svg" class="grey-button-icon">
      <div class="grey-button-text-container">
        <div class="grey-button-text-title">
          Items
        </div><br>
        <div class="grey-button-text-info">
          <div class="grey-button-text">{{numberOfItems}} items registered</div>
        </div>
      </div>
    </div>
  </button>
  <div class="notification-container" *ngIf="numberOfReservations && numberOfReservations!=0">
    <div class="notification-reservation">
      {{numberOfReservations}} items with reservations
    </div>
  </div>

  <button [ngClass]="currentEntity != 'No library, join a library to get started' ? 'grey-button' : 'grey-button-glowing'" (click)="goToEntityAdminPage()">
    <div>
      <img src="./assets/icons/entities.svg" class="grey-button-icon">
      <div class="grey-button-text-container">
        <div class="grey-button-text-title">
          Library
        </div><br>
        <div class="grey-button-text-info">
          <div class="grey-button-text" *ngIf="db.currentUser && db.currentUser.entity != 'No library, join a library to get started'">
            {{currentEntity}}
          </div>
          <div class="grey-button-text" *ngIf="db.currentUser && db.currentUser.entity == 'No library, join a library to get started'">
            Create a library to get started
          </div>
        </div>
      </div>
    </div>
  </button>

  <button class="grey-button" (click)="goToUsersAdminPage()">
    <div>
      <img src="./assets/icons/users.svg" class="grey-button-icon">
      <div class="grey-button-text-container">
        <div class="grey-button-text-title">
          Users
        </div><br>
        <div class="grey-button-text-info">
          <div class="grey-button-text">{{numberOfUsers}} registered</div>
        </div>
      </div>
    </div>
  </button>
  <div class="notification-container" *ngIf="numberOfPendingUsers && numberOfPendingUsers!=0">
    <div class="notification-pending">
      {{numberOfPendingUsers}} users with pending requests
    </div>
  </div>

</div>

</ion-content>
