page-users-list-admin {

    .user-container {
        height: 75px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px;
        border: 5px solid grey;
    }

    .facebook-image {
        float: left;
        height: 4em;
	    width: 4em;
        margin-right: 10px;
        border-radius: 50%;
    }

    .user-name {
        font-size: 20px;
        margin-top: 12px;
    }
}
