page-terms-and-conditions {
.title-text{
font-size:2em;
text-align:center;
}

.terms-and-conds{
    height:80%;
    width:100%;
    margin-top:1em;
}

.add-button{
width:30%;
height:3em;
background-color:#78AB46;
margin-left:2em;
}

.cancel-button{
width:30%;
height:3em;
background-color:indianred;
margin-left:3em;
}
}
