page-terms-and-conditions {

.terms-and-conds{
    height:70%;
    width:100%;
    border:4px solid #95989A;
}

.button-container {
    text-align: center;
}

.add-button{
float: inline-block;
width:40%;
height:4em;
background-color:#80E08F;
margin: 1em;
}

.cancel-button{
display: inline-block;
width:40%;
height:4em;
background-color:#f28282;
margin: 1em;
}

}
