page-items-add-tag-scann-admin {

  .big-icon {
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .text {
    color: green;
    text-align: center;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
