page-checkin-list {
  .item-image {
    margin-left: -1.7em;
    margin-bottom: -0.3em;
    width: 2.4em;
    height: 2.4em;
  }

  .item-name {
    font-size: 1.2em;
    margin-left: 1em;
    bottom: 0.8em;
    position: fixed;
  }

  .listProps {
    font-size: 1em;
    padding: 0.2em 2em;
  }
}
