page-entity-details-admin {
.title-text{
font-weight:bold;
font-size:3em;
text-align:center;
}
.office-and-opening{
margin-top:2em;
font-size:1.5em;
text-align:center;
}
.location-and-days{
    margin-top:0.5em;
    margin-bottom:0.3em;
    font-size:1.4em;
font-weight:bold;
text-align:center;
}
.room-and-hours{
font-size:1.8em;
font-weight:bold;
text-align:center;
}

.edit-icon{
    position:relative;
    left:19em;
    bottom:1.5em;
}

.edit-icon2{
    position:relative;
    left:19em;
    bottom:1.2em;
}
.alert-text{
    text-align:center;
    color:red;
}

}
