<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
<div class="title" *ngIf="!modifyTitle">{{currentEntity.name}}</div><ion-item *ngIf="modifyTitle">
      <ion-input placeholder="Title" [(ngModel)]="currentEntityTitle" (keypress)="titleHandler($event.keyCode)"></ion-input>
    </ion-item>
<img src="./assets/icons/edit2.svg" class="edit-title" (click)="modifyTitle = true" *ngIf="!modifyTitle">
<button class="save-button"  (click)="editTitle()" *ngIf="modifyTitle" style="position:relative;left:20em;bottom:3em;"><div class="button-text">Save</div></button>

<div class="office-and-opening">Borrowing office location:</div>
<div class="location" *ngIf="!modifyLocation">{{currentEntityLocation}}</div><ion-item *ngIf="modifyLocation">
      <ion-input placeholder="Location" [(ngModel)]="currentEntityLocation" (keypress)="locationHandler($event.keyCode)"></ion-input>
    </ion-item>
    <img src="./assets/icons/edit2.svg" class="edit-icon" (click)="modifyLocation=true" *ngIf="!modifyLocation"> 
    <button class="save-button" (click)="editLocation()" *ngIf="modifyLocation" style="position:relative;left:20em;bottom:3em;"><div class="button-text">Save</div></button>
<div class="room-and-hours" *ngIf="!modifyRoom">{{currentEntityRoom}}</div><ion-item *ngIf="modifyRoom">
      <ion-input placeholder="Room" [(ngModel)]="currentEntityRoom" (keypress)="roomHandler($event.keyCode)"></ion-input>
    </ion-item>
<img src="./assets/icons/edit2.svg" class="edit-icon" (click)="modifyRoom = true" *ngIf="!modifyRoom">
<button class="save-button" (click)="editRoom()" *ngIf="modifyRoom" style="position:relative;left:20em;bottom:3em;"><div class="button-text">Save</div></button>
<br>
<br>
<hr style="color:gray;height:0.5em;">




<div class="office-and-opening">Opening hours:</div>
<div class="days-and-hours" *ngIf="!modifyDays"><div *ngFor="let entityDay of currentEntity.office.days" >{{getWeekDay(entityDay)}}
    <span class="opening-hours" *ngIf="!modifyHours">{{getHours(entityDay)}}</span>
      <ion-item class="edit-from"  *ngIf="modifyHours"><ion-label>From</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="fromHours[entityDay]"></ion-datetime>
      </ion-item> 
      <ion-item class="edit-to"  *ngIf="modifyHours"><ion-label>To</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="toHours[entityDay]" ></ion-datetime>
      </ion-item></div></div>
    
      <ion-item *ngIf="modifyDays">
      <ion-label style="color:#4091FF">Choose/change opening days</ion-label>
      <ion-select  multiple="true" [(ngModel)]="entityDays">
        <ion-option value="1">Monday</ion-option>
        <ion-option value="2">Tuesday</ion-option>
        <ion-option value="3">Wednesday</ion-option>
        <ion-option value="4">Thursday</ion-option>
        <ion-option value="5">Friday</ion-option>
        <ion-option value="6">Saturday</ion-option>
        <ion-option value="0">Sunday</ion-option>
      </ion-select>
    </ion-item>
   
     
<img src="./assets/icons/edit2.svg" class="edit-days" (click)="modifyDays = true" *ngIf="!modifyDays">
<button class="save-button" (click)="editDays()" *ngIf="modifyDays" style="margin-right:-2em;"><div class="button-text">Save</div></button> 

<img src="./assets/icons/edit2.svg" class="edit-hours" (click)="modifyHours = true" *ngIf="!modifyHours">
   <button class="save-button" (click)="editHours()" *ngIf="modifyHours" style="position:relative;left:17em;bottom:1em;"><div class="button-text">Save</div></button>

<hr style="color:gray;height:0.5em;">
  <div class="reservation-text">Standard loan days for all items:<span *ngIf="!modifyResDays"><b class="resDays">{{resDays}}</b></span></div>
<ion-item class="reservation-input" *ngIf="modifyResDays">
      <ion-input type="number" min="1" max="99" [(ngModel)]="resDays"></ion-input>
    </ion-item>
    <img src="./assets/icons/edit2.svg" class="edit-icon3" (click)="modifyResDays = true" *ngIf="!modifyResDays">
  <button class="save-button" (click)="editResDays()" *ngIf="modifyResDays" style="position:relative;left:19em;top:1em;margin-top:10px;"><div class="button-text">Save</div></button>
    <div class="info-text">(Altering wont affect reservations already made)</div>
    

  <button class="blue-button" (click)="goToTermsAndConditions()" *ngIf="currentEntity.termsAndConditions!=null">
    <div class="button-text">
      <b>Terms and conditions</b>
    </div>
  </button>

  <button class="red-button" (click)="delete()">
    <div class="button-text">
      <b>Delete library</b>
    </div>
  </button>

</ion-content>
