page-entity-details-admin {
.office-and-opening{
margin-top:1em;
margin-bottom:0.5em;
font-size:1.5em;
text-align:center;
}
.location{
    margin-top:0.1em;
    margin-bottom:0.1em;
    font-size:1.4em;
font-weight:bold;
text-align:center;
}

.save-button{
    position: relative;
    width: 65px;
    height: 30px;
    background-color: #4091FF;
}

.edit-icon{
  height: 30px;
    width: 30px;
    position:relative;
    left:90%;
    bottom:2em;
}


.edit-icon2{
position:relative;
left:21em;
bottom:1em;
}

.days-and-hours{
    position:relative;
    top:0.5em;
    margin-bottom:1.5em;
    font-size:1.4em;
    font-weight:bold;
}

.opening-hours{
    position:absolute;
    font-weight:normal;
    white-space: nowrap;
    margin-bottom:0.5em;
    margin-top:0.2em;
    left:calc(100% - 6em);
}


.edit-from{
  width:50%;
  height:1em;
  bottom:2.4em;
  margin-bottom:-2em;
  position:relative;
}

.edit-to{
  width:45%;
  height:1em;
  bottom:3em;
  margin-bottom:-2em;
  left:55%;
  position:relative;
}

.room-and-hours{
font-size:1.8em;
font-weight:bold;
text-align:center;
position:relative;
bottom:0.7em;
margin-bottom:-1em;
}

.edit-title{
    height: 30px;
    width: 30px;
    position:relative;
    left:90%;
    bottom:2.5em;
}

.edit-days{
    height: 30px;
    width: 30px;
    position:relative;
    left:5%;
}

.edit-hours{
height: 30px;
    width: 30px;
    position:relative;
    left:80%;
}

.edit-icon3{
    height: 30px;
    width: 30px;
    position:relative;
    left:90%;
    top:1em;
}

.alert-text{
    text-align:center;
    color:red;
}

.reservation-input{
    position:relative;
    width:5.5em;
    left:13.5em;
    bottom:1.2em;
    height:0.4em;
    margin-bottom:-2.7em;

}
.reservation-text{
    position:relative;
    left:2em;
    top:1em;
}


.info-text{
    position:relative;
    top:1em;
    text-align:center;
    margin-bottom:1em;
}

.red-button{
    position:relative;
    width: 100%;
    height: 70px;
    background-color: #f28282;
  }

  .resDays{
      font-size: 20px;
      margin-left: 5px;
  }
}
