
<ion-header>

  <ion-navbar>
    <ion-title>entity-list-user</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar [(ngModel)]="searchString"
                 (ionInput)="search()">
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let entity of entitiesList">
      <ion-item (click)="goToEntityJoinUserPage(entity)">
        {{entity.name}}
        <br/>
        <span style="color:red" *ngIf="currentUser.uid==entity.owner">You're admin of this entity</span>
        <span style="color:green" *ngIf="currentUser.uid!=entity.owner && checkIfJoined(entity)">You have already joined this entity</span>
      </ion-item>
      <ion-item-options>
        <button danger (click)="removeItem(item)"> Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
