<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-searchbar [(ngModel)]="searchString"
                 (ionInput)="search()">
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let entity of entitiesList">
      <ion-item (click)="goToEntityJoinUserPage(entity)">
        {{entity.name}}
        <br/>
        <span style="color:red" *ngIf="currentUser.uid==entity.owner">You're admin of this library</span>
        <span style="color:green" *ngIf="currentUser.uid!=entity.owner && checkIfJoined(entity)">You have joined this library</span>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
