<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <div *ngIf="!success">
    <p class=title>
      <b>Place your device on the items NFC tag</b>
    </p>
    <img src="./assets/icons/encode_scan.svg" class="global-scann-icon">

    <div *ngIf="!db.isAndroid()">
      <p class="global-scann-info-text">
        <b>The NFC functionality will not work on iOS devices in this app version</b>
      </p>
    </div>
  </div>

  <div *ngIf="success">
    <div class=success-text>
      <b>Success!<br>New tag registered</b>
    </div>
    <img src="./assets/icons/thumb.svg" class="global-scann-icon">

    <button class="black-button" (click)="done()">
      <div class="button-text">
        <b>Done</b>
      </div>
    </button>
  </div>

</ion-content>
