<ion-header>

  <ion-navbar color="navbar">
    <div>
      <img src="./assets/icons/logo.svg" (click)="navCtrl.popToRoot()" [ngClass]="db.isAndroid() ? 'android-logo' : 'ios-logo'">
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="menu.openDropdownMenu($event)">
        <img class="facebook-image" [src]="db.currentUserPhotoURI"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p class=title>
    <b>Encode a NFC tag for the item</b>
  </p>

  <div class="button-container">
    <button class="white-button" (click)="goToItemsAddTagScannAdminPage()">
      <img src="./assets/icons/scantag.svg" class="white-button-icon-svg">
      <div class="white-button-with-icon-svg-text">
        <b>Encode now</b>
      </div>
    </button>

    <button class="white-button2" (click)="goToItemsAddSuccessAdminPage()">
      <div class="white-button-text2">
        <b>Skip making NFC tag <br>for this item</b>
      </div>
    </button>
  </div>

  <div class="bar">
    <div class="progress"></div>
  </div>

  <p class="progress-text">
    99%
  </p>

  <div class="image-container">
    <img *ngIf="!scaledPhotoURI" src="./assets/icons/image.svg" class="button-icon2">
    <img *ngIf="scaledPhotoURI" [src]="scaledPhotoURI" class="item-image"/>
  </div>
  <div class="item-name-container">
    <div class="item-name">
      {{itemName}}
    </div>
  </div>

</ion-content>
