page-items-add-tag-admin {
  
  .image-container {
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    background-color: #525150;
  }

  .item-name-container {
    float: left;
    height: 70px;
    width: calc(100% - 70px);
    background-color: #DCDEE0;
  }

  .item-image {
    width: 100%;
    height: 100%;
  }

  .item-name {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
  }

  .bar {
    width: 100%;
    margin-top: 30px;
    background-color: #ddd;
  }

  .progress {
    width: 99%;
    height: 30px;
    background-color: #80E08F;
  }

  .progress-text {
    font-size: 25px;
    text-align: center;
  }

  .white-button2 {
    width: 100%;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 5px solid #4E4E4E;
  }

  .white-button-text2 {
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #4E4E4E;
    font-size: 25px;
    line-height: 120%;
  }

  .button-icon2 {
    height: 35px;
    width: 35px;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
