<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="!success">
    <button class="white-button" (click)="purchase()">
      <div class="white-button-text">
        <b>Buy a new library (29NOK)</b>
      </div>
    </button>
  </div>

  <div class="success-text" *ngIf="success">
    Success, you can now have {{newMax}} libraries
  </div>

  <div *ngIf="success">
    <button class="black-button" (click)="done()">
      <div class="button-text">
        <b>Done</b>
      </div>
    </button>
  </div>

  <br><br><br>

  <button class="white-button" (click)="free()" *ngIf="!success">
    <div class="white-button-text">
      <b>Free (Developer only)</b>
    </div>
  </button>

</ion-content>
