// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




  //title and big icons

  .title {
    text-align: center;
    font-size: 30px;
  }

  .big-icon {
    display: block;
    margin: auto;
    font-size: 100px;
    width: 40%;
  }




  //facebook images

  .facebook-image {
    height: 2.7em;
	  width: 2.7em;
    border-radius: 50%;
}




  //buttons

  .button-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .blue-button {
    width: 100%;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #40afce;
  }

  .black-button {
    width: 100%;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #4E4E4E;
  }

  .white-button {
    width: 100%;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 5px solid #4E4E4E;
  }




  //button icons

  .button-icon {
    color: white;
    float: left;
    font-size: 55px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .white-button-icon {
    color: black;
    float: left;
    font-size: 55px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .button-icon-svg {
    color: white;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    height: 40px;
    width: 40px;
  }

  .white-button-icon-svg {
    color: black;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    height: 40px;
    width: 40px;
  }




  //button text

  .button-text {
    color: white;
    font-size: 25px;
  }

  .button-with-icon-text {
    color: white;
    float: left;
    font-size: 25px;
    margin-top: 15px;
  }

  .button-with-icon-svg-text {
    color: white;
    float: left;
    font-size: 25px;
    margin-top: 10px;
  }

  .white-button-text {
    color: black;
    font-size: 25px;
  }

  .white-button-with-icon-text {
    color: black;
    float: left;
    font-size: 25px;
    margin-top: 15px;
  }

  .white-button-with-icon-svg-text {
    color: black;
    float: left;
    font-size: 25px;
    margin-top: 10px;
  }


  
  .modal-wrapper{
position: absolute;
width: 90vw;
height: 60vh;
top: 0; 
bottom: 0;
left: 0;
right: 0;
margin: auto;
border-radius: 8px !important;
overflow:hidden !important;
}


@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: visible;
  }



  // navbar logo
  
  .android-logo {
    position: absolute;
    top: -20%;
    left: 15%;
    height: 80px;
    width: 80px;
  }

  .ios-logo {
    position: absolute;
    top: 0%;
    left: 10%;
    height: 80px;
    width: 80px;
  }
}

