page-about {

    .version-text {
        font-size: 25px;
    }

    .version-number {
        font-size: 20px;
    }

    .privacy-policy-text {
        font-size: 25px;
        margin-top: 30px;
    }

    .privacy-policy-link {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 2px;
    }

    .terms-and-conditions-text {
        font-size: 25px;
        margin-top: 30px;
    }

    .terms-and-conditions-link {
        color: #1589FF;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 2px;
    }

    .contact-info-text {
        font-size: 25px;
        margin-top: 30px;
    }

    .contact-info-email {
        color: #1589FF;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 2px;
    }
}
