<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <p class=title>
    <b>About this app</b>
  </p>
  
  <div class="version-text">Version</div>
  <div class="version-number">{{version}}</div>
  
  <div class="privacy-policy-text">Privacy Policy</div>
  <div class="privacy-policy-link"><a href="http://mobilvennlig.no/pigify/privacy_policy_1.html">Privacy Policy</a></div>
  
  <div class="terms-and-conditions-text" *ngIf="false">Terms and conditions</div>
  <div class="terms-and-conditions-link" *ngIf="false"><u>terms and conditions</u></div>

  <div class="contact-info-text">Contact information</div>
  <div class="contact-info-email" (click)="sendMail()"><u>zahlhuus@gmail.com</u></div>


</ion-content>
