page-items-add-name-admin {

  .info-text {
    text-align: center;
    margin-bottom: 50px;
  }

  .bar {
    position: absolute;
    width: 90%;
    top: 70%;
    background-color: #ddd;
  }

  .progress {
    width: 33%;
    height: 30px;
    background-color: #40afce;
  }

  .progress-text {
    position: absolute;
    font-size: 25px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
