page-item-list-user {

  .item-image {
    height: 4em;
    width: 4em;
    margin-right: 2em;
    float: left;
  }

  .item-name {
    font-size: 1em;;
    margin-top: 1em;
    float: left;
  }
  .reserved-date{
    color: red;
    font-size: 0.58em;
    position: fixed;
    top:7em;
    left: 8.8em;
  }
}
