page-item-list-user {

  .item-image {
    height: 4em;
    width: 4em;
    margin-right: 2em;
    float: left;
  }

  .item-name {
    position: absolute;
    font-size: 1.2em;
    top: 10%;
    left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 90px);
  }

  .reserved-date{
    color: red;
    position: absolute;
    font-size: 0.7em;
    top: 50%;
    left: 90px;
  }

  .description {
    position: absolute;
    font-size: 0.8em;
    top: 40%;
    left: 90px;
    white-space: normal;
  }
}
