page-checkin-confirm {

  .item-image {
    width: 15em;
    height: 15em;
    margin-left: 4em;
    margin-top: 2em;
    border: solid black;
  }

  .inner-wrapper {
    background-color: black;
    opacity: 0.5;
    color: white;
    font-size: 1.25em;
    left: 3.2em;
    padding: 1em 6em;
    margin-top: -2.2em;
    margin-left: 0.9em;
    position: absolute;
  }

  .item-name {
    font-size: 1.5em;
    margin-top: -1.6em;
    margin-bottom: 1em;
    text-align: center;
    color: white;
    position: relative;
  }

  .someText {
    font-size: 25px;
    text-align: center;
    color: #696969;
    margin-top: 30px;
  }

  .user-container {
    text-align: center;
    margin: 10px;
    }
  
 .user-image {
   display: block;
   margin: 0 auto;
   width: 5em;
   height: 5em;
   border-radius: 50%;
  }
  
  .user-name {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
  }
}
