page-entity-join-user {

    .info-text-1 {
        text-align: center;
        color: blue;
        font-size: 30px;
    }

    .info-text-2 {
        text-align: center;
        color: green;
        font-size: 30px;
    }
}
