<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div class="title-text">{{entity.name}}</div>
<div class="office-and-opening">Borrowing office location:</div>
<div class="location-and-days">{{currentEntityLocation}}</div>

<div class="room-and-hours">{{currentEntityRoom}}</div>
<br>
<br>
<hr style="color:gray;height:0.5em;">
<div class="office-and-opening">Opening hours:</div>
<div class="location-and-days">{{currentEntityDays}}</div>
<div class="room-and-hours">{{currentEntityHours}}</div>

<br>



  <div *ngIf="!(entity.owner == db.currentUser.uid)">

    <div *ngIf="!isPending && !hasJoined && bothAnswersLoaded">
      <button class="blue-button" (click)="sendRequest()">
        <div class="button-text">
          <b>Send request to join entity</b>
        </div>
      </button>
      <span *ngIf="entity.termsAndConditions!=null" style="margin-left:0.8em">(By joining you agree to the terms and conditions)</span>
      <br>
      <br>
      <button class="blue-button" (click)="goToTermsAndConditions()" *ngIf="entity.termsAndConditions!=null"><div class="button-text">Read this entitys terms and conditions</div></button>
    </div>

    <div *ngIf="isPending && bothAnswersLoaded">
      <div class="info-text-1">
        <b>Waiting for the owner of {{entity.name}} to accept request</b>
      </div>
    </div>

    <div *ngIf="hasJoined && bothAnswersLoaded">
      <div class="info-text-2">
        <b>You have already joined this entity</b>
      </div>
    </div>

  </div>


  <div *ngIf="entity.owner == db.currentUser.uid">
    <div class="info-text-3">
      <b>You own this entity and don't need to join to change to it</b>
    </div>
  </div>

</ion-content>
