page-entity-join-user {

    .info-text-1 {
        text-align: center;
        color: blue;
        font-size: 30px;
    }

    .info-text-2 {
        text-align: center;
        color: green;
        font-size: 30px;
    }

    .info-text-3 {
        text-align: center;
        color: red;
        font-size: 30px;
    }

.office-and-opening{
margin-top:2em;
font-size:1.5em;
text-align:center;
}

.location-and-days{
    margin-top:0.5em;
    margin-bottom:0.3em;
    font-size:1.4em;
font-weight:bold;
text-align:center;
}

.room-and-hours{
font-size:1.8em;
font-weight:bold;
text-align:center;
}

.reservation-text{
    position:relative;
    top:2.5em;
    text-align:center;
}

.days-and-hours{
    position:relative;
    top:0.5em;
    font-size:1.4em;
    font-weight:bold;
}

.opening-hours{
    position:absolute;
    font-weight:normal;
    white-space: nowrap;
    margin-bottom:0.5em;
    margin-top:0.2em;
    left:calc(100% - 6em);
}

}
