page-checkout-user {
  
 .user-image {
   position:relative;
   top:0.3em;
   width: 50px;
   height: 50px;
   border-radius: 50%;
  }
  
  .user-name{
  position:relative;
  bottom:1em;
  left:1em;
  }
  .user-container {
    width: 95%;
    height: 68px;
    border: 5px solid #F5F5F5;
    background-color: #F5F5F5;
    margin-top:0.5em;
    left:0.6em;
    position:relative;
  }
 
}
