page-entity-admin {
  .customIcon {
    font-size: 1.7em;
  }


  .add-icon {
    color: green;
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
  }

  .add-entity-text {
    text-align: center;
    font-size: 25px;
  }
}
