<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="!success">
    <div class=title>
      <b>Place your device on the NFC tag</b>
    </div>
    <img src="./assets/icons/encode_scan.svg" class="scann-icon">
  </div>

  <div *ngIf="success">
    <div class=success-text>
      <b>Success!<br>The tag is now write protected</b>
    </div>
    <img src="./assets/icons/thumb.svg" class="scann-icon">

    <button class="black-button" (click)="done()">
      <div class="button-text">
        <b>Done</b>
      </div>
    </button>
  </div>

</ion-content>
