<ion-header>

  <ion-navbar color="navbar">
    <div>
      <img src="./assets/icons/logo.svg" (click)="navCtrl.popToRoot()" [ngClass]="db.isAndroid() ? 'android-logo' : 'ios-logo'">
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="menu.openDropdownMenu($event)">
        <img class="facebook-image" [src]="db.currentUserPhotoURI"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar [(ngModel)]="searchString"
                 (ionInput)="search()">
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let entity of entitiesList">
      <ion-item (click)="changeEntity(entity)">
        {{entity.name}}
        <br/>
        <span style="color:blue" *ngIf="currentUser.entity==entity.$key">Currently selected</span>
        <span style="color:lightgrey" *ngIf="currentUser.entity!=entity.$key && currentUser.uid==entity.owner">Admin</span>
        <span style="color:lightgrey" *ngIf="currentUser.entity!=entity.$key && currentUser.uid!=entity.owner">Borrower</span>
      </ion-item>
      <ion-item-options>
        <button danger (click)="removeItem(item)"> Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
