<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="title"><b>Checkout</b></div>
  <div class="awaiting-container" *ngIf="confirmCheck!=itemList.length" >
    <p class="awaiting-text">Awaiting confirmation from {{user.fullname}}</p>
  </div>
  <div class="approved-container" *ngIf="confirmCheck==itemList.length" >
    <p class="approved-text">Approved</p>
  </div>

  <div class="return-date">Return Date: {{formattedDate}}</div>
  
  <div class="user-placement">
  <div class="user-item-title">Person you are borrowing to</div>
 <div class="user-container">
        <img class="user-image" [src]="user.photoURL" /> <span class="user-name">{{user.fullname}}</span>
      </div>
    </div>


    <div class="items-placement">
    <div class="user-item-title">Items you are checking out</div>
      <div *ngFor="let item of itemList">
        <div class="global-item-container-grey">
          <img [src]="item.photoURL" class="global-item-container-image" />
          <div class="global-item-container-name-only">{{item.name}}</div>
        </div>
        <br>
      </div>
    </div> 


  <button class="black-button" (click)="done()">
    <div class="button-text">
      <b>Done</b>
    </div>
  </button>

</ion-content>
