page-checkout-awaiting-confirmation {

  .awaiting-container {
    margin-top: 2em;
    border: 0.2em solid red;
    height: 8em;
    width: 100%;
  }

  .awaiting-text {
    font-size: 1.8em;
    color: red;
    text-align: center;
    position: relative;
    top: -0.4em;
  }

  .approved-container {
    margin-top: 2em;
    border: 0.2em solid green;
    height: 4.5em;
    width: 100%;
  }

  .approved-text {
    font-size: 1.8em;
    color: green;
    text-align: center;
    position: relative;
    top: -0.4em;
  }


  .listProps {
    background-color: #d3d3d3;
    font-size: 1em;
    padding: 0.2em 2em;
  }

  .userListProps {
    background-color: #d3d3d3;
    font-size: 1em;
    width: 21em;
    height: 3em;
    margin-left: 1.3em;
    margin-top: 1em;
    position: relative;
  }


  .user-item-title {
    font-size: 1.3em;
  }

  .items-placement {
    margin-top: 2em;
  }

  .user-placement {
    margin-top: 2em;
  }

  .item-image {
    margin-left: -1.7em;
    margin-bottom: -0.3em;
    width: 2.4em;
    height: 2.4em;
  }

  .item-name {
    font-size: 1.2em;
    margin-left: 1em;
    bottom: 0.25em;
    position: relative;
  }

  .user-name {
    font-size: 1em;
    margin-left: 2em;
    bottom: 0.4em;
    position: relative;
  }

  .user-image {
    left: 1em;
    bottom: -0.3em;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    position: relative
  }

  .done-button {
    position: absolute;
    bottom: 3em;
    right:0.5em;
    width: 95%;
    height: 70px;
    background-color: dimgrey;
  }

  .blue-button-text {
    font-size: 25px;
    color: white;
  }

  .return-date {
    text-align: center;
    color: indianred;
  }

}
