<!--
  Generated template for the CheckoutItems page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>CheckoutItems</ion-title>
    <ion-buttons left>
      <button ion-button (click)="goHome()">
        <ion-icon class="customIcon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button class="blue-button" (click)="toggleView()">
        <div class="blue-button-text"><b>{{toggleText}}</b></div>
      </button>
    </ion-buttons>
  </ion-navbar>

 

</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchItemString"
                (ionInput)="searchItems($event)">
  </ion-searchbar>
  <ion-list *ngIf="showList">
    <ion-item *ngFor="let item of itemsList">
      <div class="name" (click)="goToCheckoutItemPickedPage(item)">{{item.name}}</div>
    </ion-item>
  </ion-list>

  <p class=title-text *ngIf="showTagInfo">
    <b>Place your device on the items NFC tag</b>
  </p>

  <ion-icon name="finger-print" class="scann-icon" *ngIf="showTagInfo"></ion-icon>

</ion-content>
