page-checkout-items {
  .title-text {
    font-size: 30px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  .scann-icon {
    font-size: 250px;
    margin-left: 23%;
    position: static;
  }


  .blue-button {
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #40afce;
  }

  .blue-button-text {
    color: white;
  }

  .customIcon {
    font-size: 1.7em;
  }

  .listProps {
    font-size: 1em;
    padding: 0.2em 2em;
  }

 .item-image {
    height: 65px;
    width: 65px;
    float: left;
  }

  .item-name {
    position: absolute;
    font-size: 1.2em;
    top: 10%;
    left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 90px);
  }

  .res-date{
    color: red;
    position: absolute;
    font-size: 0.7em;
    top: 50%;
    left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 90px);
  }

  .hide-loans {
    display: none;
  }

  .checked-out{
    font-size:0.8em;
    left:17em;
    top:3.5em;
    position:fixed;
    color:indianred;
  }
  
  .hide-unchecked{
    display:none;
  }
}
