

<!--
  This navbar is used on all pages besides home admin, home user, email login and email registration
-->

<div>
  <img src="./assets/icons/logo.svg" (click)="goHome()" [ngClass]="db.isAndroid() ? 'android-logo' : 'ios-logo'">
</div>

<ion-buttons end>
<button ion-button icon-only (click)="openDropdownMenu($event)">
  <div>
    <div *ngIf="db.currentUser" style="margin: 2.5px; font-size: 13px">
      {{trimUsername(db.currentUser.fullname)}}
    </div>

    <div style="float: right; margin: 2.5px; font-size: 13px">
      <span *ngIf="db.currentUser && db.currentUser.adminRole == 'true'">Admin</span>
      <span *ngIf="db.currentUser && db.currentUser.adminRole == 'false'">Borrower</span>
    </div>
  </div>
</button>

  <button ion-button icon-only (click)="openDropdownMenu($event)">
    <img *ngIf="db.currentUser" [src]="db.currentUser.photoURL" [ngClass]="db.isAndroid() ? 'facebook-image-android' : 'facebook-image-ios'">
  </button>
</ion-buttons>