page-entity-add-admin {
  
  .alert-text{
    text-align:center;
    color:red;
  }

  .button-text {
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .arrow-icon {
    color: white;
    float: right;
    margin-right: 15px;
    font-size: 40px;
  }

  .black-button {
    position: relative;
  }
}
