<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="item-image-super-container">
    <div class="item-image-container">
      <img [src]="item.photoURL" class="item-image" *ngIf="item" />
      <div class="inner-wrapper">
        <div class="item-name">{{item.name}}</div>
      </div>
    </div>
    </div>

  <div class="already-added" *ngIf="allreadyAdded">This item is already added</div>
  <div class="added-text" *ngIf="!allreadyAdded">Item added to checkout-basket</div>

  <button class="white-button" (click)="goToCheckoutScanItemPage()">
    <img src="./assets/icons/scantag.svg" class="button-icon-svg">
    <div class="white-button-with-icon-svg-text">
      Scan more items
    </div>
  </button>

  <button class="white-button" (click)="goToCheckoutItemsPage()">
    <img src="./assets/icons/search.svg" class="button-icon-svg">
    <div class="white-button-with-icon-svg-text">
      Search more items
    </div>
  </button>

  <button class="white-button" (click)="goToCheckoutItemPickedPage()">
    <img src="./assets/icons/checkout.svg" class="button-icon-svg">
    <div class="white-button-with-icon-svg-text">
      Go to checkout
    </div>
  </button>

</ion-content>
