page-checkout-confirm-item {

  .item-image {
    width: 15em;
    height: 15em;
    margin-left: 4em;
    margin-top: 2em;
    border: solid black;
  }

  .inner-wrapper {
    background-color: black;
    opacity: 0.5;
    color: white;
    font-size: 1.25em;
    left: 3.2em;
    padding: 1em 6em;
    margin-top: -2.2em;
    margin-left: 0.9em;
    position: absolute;
  }

  .item-name {
    font-size: 1.5em;
    margin-top: -1.6em;
    text-align: center;
    color: white;
    position: relative;
  }

  .already-added{
    color:red;
    margin-top:2em;
    margin-left:5em;
  }
  
  .added-text{
    margin-top:2em;
    margin-left:5em;
  }

  .item-reserved{
    top:26em;
    margin-bottom:1em;
    margin-top: 1em;
    color:red
  }
}
