page-items-admin {

  .itemName {
    display:inline-block;
  }

  .itemId {
    display:inline-block;
    float: right;
  }

  .add-icon {
    font-size: 90px;
    color: green;
    top: 80%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .add-item-text {
    font-size: 25px;
    top: 85%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
