<ion-header>

  <ion-navbar color="navbar">
    <div>
      <img src="./assets/icons/logo.svg" (click)="navCtrl.popToRoot()" [ngClass]="db.isAndroid() ? 'android-logo' : 'ios-logo'">
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="menu.openDropdownMenu($event)">
        <img class="facebook-image" [src]="db.currentUserPhotoURI"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="tagId == '0'" class=title>
    <b>Success. Added</b>
  </div>

  <div *ngIf="tagId != '0'" class=title>
    <b>Success.<br>Added and Encoded </b>
  </div>

<div class="super-container">
  <div class="item-container">
    <div class="image-container">
      <img *ngIf="!photoURI" src="./assets/icons/image.svg" class="item-image">
      <img *ngIf="photoURI" [src]="photoURI" class="item-image"/>
    </div>
    <div class="item-name-container">
      <div class="item-name">
        <b>{{itemName}}</b>
      </div>
    </div>
  </div>
</div>

  <div class="bar">
    <div class="progress"></div>
  </div>

  <p class="progress-text">
    100%
  </p>

  <button class="black-button" (click)="goBackToItemsAdminPage()">
    <div class="button-text">
      <b>Done</b>
    </div>
  </button>

</ion-content>
