page-items-add-success-admin {

  .item-image {
    position: absolute;
    font-size: 300px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .item-name {
    text-align: center;
    font-size: 25px;
  }

  .blue-button {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 20px;
    background-color: #40afce;
  }

  .bar {
    position: absolute;
    width: 90%;
    top: 70%;
    background-color: #ddd;
  }

  .progress {
    width: 100%;
    height: 30px;
    background-color: #40afce;
  }

  .progress-text {
    position: absolute;
    font-size: 25px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
