<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="tagId == '0'" class=title>
    <b>Success. Added</b>
  </div>

  <div *ngIf="tagId != '0'" class=title>
    <b>Success.<br>Added and Encoded </b>
  </div>

  <div class="item-image-super-container">
    <div class="item-image-container">
      <img [src]="item.photoURL" class="item-image" *ngIf="item" />
      <div class="inner-wrapper">
        <div class="item-name">{{itemName}}</div>
      </div>
    </div>
    </div>

  <div class="bar">
    <div class="progress"></div>
  </div>

  <p class="progress-text">
    100%
  </p>

  <button class="black-button" (click)="goBackToItemsAdminPage()">
    <div class="button-text">
      <b>Done</b>
    </div>
  </button>

</ion-content>
