<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="!done">

  <p class="title">
    Send mail to 
    <br>
    {{user.fullname}}
  </p>

  <div class="image-container">
    <img class="facebook-image-2" [src]="user.photoURL"/>
  </div>

  <form (ngSubmit)="send()">
    <ion-item>
      <ion-label>Subject</ion-label>
      <ion-input type="text" [(ngModel)]="form.subject" name="subject" placeholder="Enter subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Message</ion-label>
      <ion-textarea [(ngModel)]="form.message" name="message" placeholder="Enter message"></ion-textarea>
    </ion-item>
    <button ion-button type="submit">Send</button>
  </form>

  </div>


  

  <div *ngIf="done">

    <p class="title">
    Your email has been sent to
    <br>
    {{user.fullname}}
  </p>

  <div class="image-container">
    <img class="facebook-image-2" [src]="user.photoURL"/>
  </div>

  <button class="black-button" (click)="goBack()">
    <div class="button-text">
      <b>Done</b>
    </div>
  </button>

  </div>


</ion-content>
