page-entity-details-user {
.office-and-opening{
margin-top:2em;
font-size:1.5em;
text-align:center;
}
.location-and-days{
    margin-top:0.5em;
    margin-bottom:0.3em;
    font-size:1.4em;
font-weight:bold;
text-align:center;
}
.room-and-hours{
font-size:1.8em;
font-weight:bold;
text-align:center;
}
.reservation-text{
    position:relative;
    top:2.5em;
    text-align:center;
}


.blue-button{
    height:3em;
    margin-top:6em;
    width:100%
}

.days-and-hours{
    position:relative;
    top:0.5em;
    font-size:1.4em;
font-weight:bold;
}

.opening-hours{
    position:fixed;
    left:11em;
}
}
