<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <p class=title>
    <b>Your Settings</b>
  </p>

  <p class=role>
    <b>Current Role:</b>
    <span *ngIf="db.currentUser && db.currentUser.adminRole == 'true'">Admin</span>
    <span *ngIf="db.currentUser && db.currentUser.adminRole == 'false'">Borrower</span>
  </p>

  <div class="account-type">
    <button class="white-button" (click)="goToChooseAccountTypePage()">
      <div class="white-button-text">
        <b>Change role</b>
      </div>
    </button>
  </div>

  <button class="white-button" (click)="showNFCSettings()">
    <div class="white-button-text">
      <b>Enable / Disable NFC</b>
    </div>
  </button>

  <button class="white-button" (click)="goToSettingsAddUserTagPage()">
    <div class="white-button-text">
      <b>Encode NFC user tag</b>
    </div>
  </button>

  <button class="white-button" (click)="goToSettingsTagMakeReadOnlyPage()">
    <div class="white-button-text">
      <b>Write protect NFC tag</b>
    </div>
  </button>

</ion-content>
