<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="openDropdownMenu($event)">
        <img class="facebook-image" [src]="db.currentUserPhotoURI"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let pendingLoan of pendingLoans">
      <p> {{pendingLoan.itemOwnerName}} wants to loan you</p>
      {{pendingLoan.itemName}}
      <button class="accept-button" (click)="acceptLoan(pendingLoan)">
        Accept
      </button>
    </ion-item>
  </ion-list>

  <p>You are currently barrowing</p>

  <ion-list>
    <ion-item *ngFor="let loan of loans">
      <div>{{loan.itemName}}</div>
    </ion-item>
  </ion-list>

  <div class="button-container">
    <button class="grey-button">
      <div>
       <ion-icon name="logo-freebsd-devil" class="grey-button-icon"></ion-icon>
        <div class="grey-button-text-container">
          <div class="grey-button-text-title">
            Items
          </div><br>
          <div class="grey-button-text-info">
            167 items registered
          </div>
        </div>
      </div>
    </button>

    <button class="grey-button" (click)="goToEntityUserPage()">
      <div>
        <ion-icon name="logo-freebsd-devil" class="grey-button-icon"></ion-icon>
        <div class="grey-button-text-container">
          <div class="grey-button-text-title">
            Entity
          </div><br>
          <div class="grey-button-text-info">
            Faculty of Art, Music and Design, Bergen
          </div>
        </div>
      </div>
    </button>
  </div>

</ion-content>
