<ion-header no-border>
  <ion-navbar color="navbar-color">
    <div>
      <img src="./assets/icons/logo.svg" [ngClass]="db.isAndroid() ? 'android-logo' : 'ios-logo'">
    </div>

    <ion-buttons end>
      <button ion-button icon-only (click)="openDropdownMenu($event)">
        <div>
          <div *ngIf="db.currentUser" style="margin: 2.5px; font-size: 13px">
            {{trimUsername(db.currentUser.fullname)}}
          </div>

          <div style="float: right; margin: 2.5px; font-size: 13px">
            <span *ngIf="db.currentUser && db.currentUser.adminRole == 'true'">Admin</span>
            <span *ngIf="db.currentUser && db.currentUser.adminRole == 'false'">Borrower</span>
          </div>
        </div>
      </button>

      <button ion-button icon-only (click)="openDropdownMenu($event)">
        <img *ngIf="db.currentUser" [src]="db.currentUser.photoURL" [ngClass]="db.isAndroid() ? 'facebook-image-android' : 'facebook-image-ios'">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="top-text">Current Library:</div>
  <div class="current-entity" *ngIf="currentEntity != 'No library, join a library to get started'">
    {{currentEntity}}
  </div>
  <div class="current-entity" *ngIf="currentEntity == 'No library, join a library to get started'">
    You are not connected to a library. Please join one to get started.
  </div>

  <div *ngIf="pendingLoans && pendingLoans.length != 0" class="scroll-bar">
    <div *ngFor="let pendingLoan of pendingLoans" class="scroll-bar-element">
      <h6>{{pendingLoan.pendingLoan.itemOwnerName}} wants to lend you:</h6>
      <div class="global-item-container-grey">
        <img class="global-item-container-image" [src]="pendingLoan.photoURL"/>
        <div class="global-item-container-title">{{trimString(pendingLoan.name)}}</div>  
        <div class="global-item-container-text-big-line-1">Entity: {{trimString(pendingLoan.entityName)}}</div>
        <div class="global-item-container-text-big-line-2">Return date: {{pendingLoan.pendingLoan.formattedShortDate}}</div>
      </div>
      
      <div class="item-container-buttons">
        <button class="dismiss-button" (click)="dismissLoan(pendingLoan)">
          <div class="button-text">
            <b>Dismiss</b>
          </div>
        </button>
        <button class="confirm-button" (click)="acceptLoan(pendingLoan)">
          <div class="button-text">
            <b>Confirm</b>
          </div>
        </button>
      </div>
    </div>
  </div>



  <div class="button-container">
    <button class="grey-button" (click)="goToItemlistUserPage()">
      <div>
       <img src="./assets/icons/items.svg" class="grey-button-icon">
        <div class="grey-button-text-container">
          <div class="grey-button-text-title">
            Full list of items
          </div><br>
          <div class="grey-button-text-info">
            <div class="grey-button-text">{{numberOfItems}} items you can borrow</div>
          </div>
        </div>
      </div>
    </button>

    <button [ngClass]="currentEntity != 'No library, join a library to get started' ? 'grey-button' : 'grey-button-glowing'" (click)="goToEntityUserPage()">
      <div>
        <img src="./assets/icons/entities.svg" class="grey-button-icon">
        <div class="grey-button-text-container">
          <div class="grey-button-text-title">
            Library
          </div><br>
          <div class="grey-button-text-info">
            <div class="grey-button-text" *ngIf="db.currentUser && db.currentUser.entity != 'No library, join a library to get started'">
            {{currentEntity}}
          </div>
          <div class="grey-button-text" *ngIf="db.currentUser && db.currentUser.entity == 'No library, join a library to get started'">
            Join a library to get started
          </div>
          </div>
        </div>
      </div>
    </button>
  </div>

  <h3 style="margin-top: 20px;" *ngIf="map && map.length != 0">New Library</h3>

  <div *ngIf="map && map.length != 0">
    <div *ngFor="let map of map" class="scroll-bar-element">
      <div class="tag-text">
        You have been accepted to {{map.entityName}}
      </div>
      <div>
        <button class="ok-button" (click)="ok(map)">
          <div class="button-text">
            <b>Ok</b>
          </div>
        </button>
        <button class="confirm-button" (click)="goTo(map)">
          <div class="button-text">
            <b>Go To</b>
          </div>
        </button>
      </div>
    </div>
  </div>

  <h3 style="margin-top: 20px;" *ngIf="db.currentUser && db.currentUser.requestTagId">NFC Tag request</h3>

  <div *ngIf="db.currentUser && db.currentUser.requestTagId">
    <div class="tag-text">
      An admin wants to register a NFC user tag for you
    </div>
    <div>
      <button class="dismiss-button" (click)="declineUserTag()">
        <div class="button-text">
          <b>Dismiss</b>
        </div>
      </button>
      <button class="confirm-button" (click)="acceptUserTag()">
        <div class="button-text">
          <b>Accept</b>
        </div>
      </button>
    </div>
  </div>

  <h3 style="margin-top: 20px;" *ngIf="reservations && reservations.length != 0">You have reserved</h3>

  <div *ngIf="reservations && reservations.length != 0" class="scroll-bar">
    <div *ngFor="let reservation of reservations" class="scroll-bar-element">
      <div class="global-item-container-green">
        <img [src]="reservation.itemPhoto" class="global-item-container-image" />
        <div class="global-item-container-title">{{trimString(reservation.itemName)}}</div>
        <div class="global-item-container-text-small-line-1">Entity: {{trimString(reservation.entityName)}}</div>
        <div class="global-item-container-text-small-line-2">Pickup date: {{reservation.formattedShortpUpDate}} ({{dueDate(reservation.pickupDate)}})</div>
        <div class="global-item-container-text-small-line-3" *ngIf="dueDate(reservation.pickupDate)=='Today'">Reservation will be deleted tomorrow</div>
        <ion-icon name="close" class="close-icon" (click)="removeReservation(reservation)"></ion-icon>
      </div>
    </div>
  </div>

  <h3 style="margin-top: 20px;" *ngIf="loans && loans.length != 0">You are currently borrowing</h3>

  <div *ngIf="loans && loans.length != 0" class="scroll-bar">
    <div *ngFor="let loan of loans" class="scroll-bar-element">
      <div class="global-item-container-red">
        <img [src]="loan.photoURL" class="global-item-container-image" />
          <div class="global-item-container-title">{{trimString(loan.name)}}</div>
          <div class="global-item-container-text-small-line-1">Entity: {{trimString(loan.entityName)}}</div>
          <div class="global-item-container-text-small-line-2">Return date: {{loan.loan.formattedShortDate}} <span *ngIf="dueDate(loan.loan.timeInMillis)!='expired'">({{dueDate(loan.loan.timeInMillis)}})</span></div>
          <div class="global-item-container-text-small-line-3" *ngIf="dueDate(loan.loan.timeInMillis)=='expired'">LOAN EXPIRED - PLEASE RETURN</div>
      </div>
    </div>
  </div>
      
</ion-content>
