<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="menu.openDropdownMenu($event)">
        <img class="facebook-image" [src]="db.currentUserPhotoURI"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="pendingLoans && pendingLoans.length != 0" class="scroll-bar">
    <div *ngFor="let pendingLoan of pendingLoans" class="scroll-bar-element">
      <h6>{{pendingLoan.pendingLoan.itemOwnerName}} wants to lend you</h6>
      <div class="item-container">
        <img [src]="pendingLoan.photoURL" class="item-image" />
        <div class="item-name">
          {{pendingLoan.name}}
        </div>
      </div>
      <div class="return-date">Return date: {{pendingLoan.pendingLoan.formattedDate}}</div>
      <div class="item-container-buttons">
        <button class="dismiss-button">
          <div class="button-text">
            <b>Dismiss</b>
          </div>
        </button>
        <button class="confirm-button" (click)="acceptLoan(pendingLoan)">
          <div class="button-text">
            <b>Confirm</b>
          </div>
        </button>
      </div>
    </div>
  </div>



  <div class="button-container">
    <button class="grey-button" (click)="goToItemlistUserPage()">
      <div>
       <ion-icon name="logo-freebsd-devil" class="grey-button-icon"></ion-icon>
        <div class="grey-button-text-container">
          <div class="grey-button-text-title">
            Full list of items
          </div><br>
          <div class="grey-button-text-info">
            <div class="grey-button-text">{{numberOfItems}} items you can borrow</div>
          </div>
        </div>
      </div>
    </button>

    <button [ngClass]="currentEntity != 'No entity, join an entity to get started' ? 'grey-button' : 'grey-button-glowing'" (click)="goToEntityUserPage()">
      <div>
        <ion-icon name="logo-freebsd-devil" class="grey-button-icon"></ion-icon>
        <div class="grey-button-text-container">
          <div class="grey-button-text-title">
            Entity
          </div><br>
          <div class="grey-button-text-info">
            <div class="grey-button-text">{{currentEntity}}</div>
          </div>
        </div>
      </div>
    </button>
  </div>

  <h3 style="margin-top: 20px;" *ngIf="map && map.length != 0">New entity</h3>

  <div *ngIf="map && map.length != 0">
    <div *ngFor="let map of map" class="scroll-bar-element">
      <div class="tag-text">
        You have been accepted to {{map.entityName}}
      </div>
      <div>
        <button class="ok-button" (click)="ok(map)">
          <div class="button-text">
            <b>Ok</b>
          </div>
        </button>
        <button class="confirm-button" (click)="goTo(map)">
          <div class="button-text">
            <b>Go To</b>
          </div>
        </button>
      </div>
    </div>
  </div>

  <h3 style="margin-top: 20px;" *ngIf="db.currentUser && db.currentUser.requestTagId">NFC Tag request</h3>

  <div *ngIf="db.currentUser && db.currentUser.requestTagId">
    <div class="tag-text">
      An admin wants to register a NFC user tag for you
    </div>
    <div>
      <button class="dismiss-button" (click)="declineUserTag()">
        <div class="button-text">
          <b>Dismiss</b>
        </div>
      </button>
      <button class="confirm-button" (click)="acceptUserTag()">
        <div class="button-text">
          <b>Accept</b>
        </div>
      </button>
    </div>
  </div>

  <h3 style="margin-top: 20px;" *ngIf="reservations && reservations.length != 0">You have reserved</h3>

  <div *ngIf="reservations && reservations.length != 0" class="scroll-bar">
    <div *ngFor="let reservation of reservations" class="scroll-bar-element">
      <div class="reservations-container">
        <img [src]="reservation.itemPhoto" class="item-image" />
        <div class="item-name">
          {{reservation.itemName}} <ion-icon name="close" class="close-icon" (click)="removeReservation(reservation)"></ion-icon>
          <div class="dueDate"><span *ngIf="dueDate(reservation.pickupDate)=='today'">Pick up today. Reservation will be deleted tomorrow</span><span *ngIf="dueDate(reservation.pickupDate)!='today'">Pick up {{dueDate(reservation.pickupDate)}}</span></div>
        </div>
      </div>
    </div>
  </div>

  <h3 style="margin-top: 20px;" *ngIf="loans && loans.length != 0">You are currently borrowing</h3>

  <div *ngIf="loans && loans.length != 0" class="scroll-bar">
    <div *ngFor="let loan of loans" class="scroll-bar-element">
      <div class="borrowed-container">
        <img [src]="loan.photoURL" class="item-image" />
        <div class="item-name">
          {{loan.name}}
          <div class="dueDateBorrowed"> <span *ngIf="dueDate(loan.loan.timeInMillis)=='Should have been returned'">{{dueDate(loan.loan.timeInMillis)}}</span> <span *ngIf="dueDate(loan.loan.timeInMillis)!='Should have been returned'">Due {{dueDate(loan.loan.timeInMillis)}}</span></div>
        </div>
      </div>
    </div>
  </div>
      
</ion-content>
