<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="openDropdownMenu($event)">
        <img class="facebook-image" [src]="db.currentUserPhotoURI"/>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!---------------------------- Testing, userinfo from FB -------------------------->
  <div *ngIf="db.authState">current user is {{db.currentUserName}}</div>
  <div *ngIf="db.authState">current user Email: {{db.currentUserEmail}}</div>
  <div *ngIf="db.authState"><img [src]="db.currentUserPhotoURI"/></div>
  <!-- ---------------------------------  -->

  <p class=title-text>
    <b>Which account do you want?</b>
  </p>

  <div class="button-container">
    <button class="blue-button" (click)="goToHomeUserPage()">
      <div class="button-text">
        <b>Borrower account</b>
      </div>
    </button>

    <button class="blue-button" (click)="goToHomeAdminPage()">
      <div class="button-text">
        <b>Admin account</b>
      </div>
    </button>
  </div>



  <p class=info-text>
    (You can change this any time in your settings)
  </p>

  <!-- log out test -->
  <button (click)="logout()" ion-button block>Log out</button>


</ion-content>
