page-choose-account-type {

  .info-text {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .info-text2 {
    text-align: center;
    color: #F57373;
    font-size: 25px;
  }
}
