<ion-header no-border>
  <ion-navbar color="navbar-color">
    <navbar></navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <img src="./assets/icons/role.svg" class="big-icon-svg">

  <div class="title">
    <b>Which Role<br>do you want?</b>
  </div>

  <div class="button-container">
    <button (click)="goToHomeUserPage()" [ngClass]="db.currentUser && db.currentUser.adminRole == 'false' ? 'black-button' : 'white-button'">
      <div [ngClass]="db.currentUser && db.currentUser.adminRole == 'false' ? 'button-text' : 'white-button-text'">
        <b>Borrower mode</b>
      </div>
    </button>

    <div class="info-text">
    (You want to borrow items from an library)
    </div>

    <div *ngIf="db.currentUser && db.currentUser.numberOfMaxEntities && db.currentUser.numberOfMaxEntities != '0'">
      <button (click)="goToHomeAdminPage()" [ngClass]="db.currentUser && db.currentUser.adminRole == 'true'? 'black-button' : 'white-button'">
        <div [ngClass]="db.currentUser && db.currentUser.adminRole == 'true' ? 'button-text' : 'white-button-text'">
          <b>Admin mode</b>
        </div>
      </button>
    </div>

    <div *ngIf="db.currentUser && (!db.currentUser.numberOfMaxEntities || db.currentUser.numberOfMaxEntities == '0')">
      <button (click)="goToPaymentPage()" [ngClass]="db.currentUser && db.currentUser.adminRole == 'true'? 'black-button' : 'white-button'">
        <div [ngClass]="db.currentUser && db.currentUser.adminRole == 'true' ? 'button-text' : 'white-button-text'">
          <b>Admin mode (3£/29NOK)</b>
        </div>
      </button>
    </div>

    <div class="info-text">
      (You want to administer loans to users)
    </div>

  </div>

  <div class="info-text2" *ngIf="db.currentUser && !db.currentUser.adminRole">
    <b>You can change role any<br>time in your Settings</b>
  </div>

  <div class="info-text3" *ngIf="db.currentUser && db.currentUser.adminRole">
    (You can switch between these<br>2 modes any time)
  </div>

</ion-content>
